@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/animations" as *;

.header {
  --margin-nav-bottom: 56;

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: px-to-rem(var(--header-height));
  padding: px-to-rem(var(--grid-margin));
  overflow: hidden;
  transition: height, background-color;
  transition-duration: var(--motion-speed-very-fast);
  transition-timing-function: var(--motion-ease-in-out);
  z-index: 999;

  @include reduced-motion {
    transition: none;
  }

  @include mq($from: large) {
    padding-block-start: px-to-rem(var(--spacing-l));
    padding-block-end: 0;
  }

  &.expanded {
    max-height: 100vh;
    overflow-y: visible;
    scrollbar-gutter: stable;
    overscroll-behavior: contain;
  }

  &:not(.white) {
    @include font-smoothing;
  }

  &.dark {
    background-color: var(--background-inverted);
  }

  &.white {
    background-color: var(--background-page);
  }

  &.light {
    background-color: var(--background-light);
  }

  .logoWrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include mq($from: large) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: px-to-rem(var(--grid-gutter));
      align-items: baseline;
    }

    .logoWrapperInner {
      padding-inline-end: px-to-rem(var(--grid-gutter));

      @include mq($from: large) {
        grid-column: 1 / 4;
      }
    }

    .logo {
      height: px-to-rem(40);
      flex-shrink: 0;
      flex-grow: 0;

      @include mq($from: large) {
        display: block;
        height: px-to-rem(48);

        // 48 / 2 / 4 * 3
        transform: translateY(px-to-rem(18));
      }
    }

    .menuButton {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }

  .mobileMenu {
    @include expandable-wrapper;

    &.open {
      @include expandable-wrapper-visible;
    }

    .mobileMenuWrapper {
      @include expandable-content;
    }
  }

  .navigation {
    margin-block-end: px-to-rem(var(--margin-nav-bottom));

    @include mq($from: large) {
      grid-column: 5 / 12;
      margin-block-end: 0;
    }
  }

  .horizontalLine {
    width: 100%;
    height: px-to-rem(var(--border-width-s));
    margin-block-end: px-to-rem(var(--margin-nav-bottom));

    &.dark {
      background-color: var(--border-weak-inverted);
    }

    &.light,
    &.white {
      background-color: var(--border-primary);
    }
  }

  .langnav {
    margin-block-end: px-to-rem(var(--margin-nav-bottom));

    @include mq($from: large) {
      margin-block-end: 0;
    }
  }

  .metanavWrapper {
    @include expandable-wrapper-visible;

    &.metanavHidden {
      @include expandable-wrapper;

      transform: scale(0, 0);
      will-change: opacity, grid-template-rows;
      transition-property: grid-template-rows, opacity;
    }

    &:not(.metanavHidden) {
      @include mq($from: large) {
        margin-block-end: px-to-rem(var(--spacing-l));
      }
    }
  }

  .metanav {
    @include expandable-content;

    margin-block-end: px-to-rem(var(--spacing-2xl));

    @include mq($from: large) {
      margin-block-end: 0;
    }
  }

  .infoBlock {
    width: px-to-rem(260);
    inset-inline-start: px-to-rem(var(--grid-margin));
    inset-block-start: px-to-rem(210);

    @include mq($from: wide) {
      width: px-to-rem(400);
    }
  }

  .metanavWrapper.metanavHidden ~ .infoBlock {
    inset-block-start: px-to-rem(155);
  }
}

.headerSSR {
  @include mq($to: large) {
    .metanav,
    .navigation,
    .langnav {
      display: none;
    }

    .logoWrapper {
      margin-block: px-to-rem(var(--spacing-2xs));
    }
  }

  @include mq($from: large) {
    min-height: px-to-rem(203);
  }
}
