.header {
  background-color: var(--background-inverted);

  .logo {
    border: 1px solid red;
  }

  .navigation {
    border: 1px solid green;
  }

  .infoBlock {
    border: 1px solid blue;
  }

  .langnav {
    border: 1px solid pink;
  }

  .metanav {
    border: 1px solid gray;
  }

  .menuButton {
    border: 1px solid greenyellow;
  }
}
