@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/animations" as *;

.header {
  --margin-nav-bottom: 56;

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  padding: px-to-rem(var(--grid-margin));
  transition-duration: var(--motion-speed-fast);
  transition-timing-function: var(--motion-ease-out);
  z-index: 999;

  @include reduced-motion {
    transition: none;
  }

  @include mq($from: large) {
    overflow: hidden;
    padding-block: px-to-rem(var(--spacing-l));

    &:before {
      position: absolute;
      content: "";
      inset: 0;
      opacity: 1;
      z-index: 0;
      transition-property: opacity;
      transition-duration: 300ms;
    }

    & + .headerBg {
      position: fixed;
      content: "";
      inset: 0;
      z-index: 1;
      background: rgb(black, 0.4);
      pointer-events: none;
      opacity: 0;
      transition: opacity;
      transition-duration: var(--motion-speed-fast);
      transition-timing-function: var(--motion-ease-out);
    }

    &:has(button[aria-expanded="true"]) {
      & + .headerBg {
        transition-timing-function: var(--motion-ease-in);
        opacity: 1;
      }
    }
  }

  @include mq($to: large) {
    transition-property: background-color;
    background-color: rgb(white, 0);

    &.expanded {
      height: 100dvh;
      overflow-y: visible;
      scrollbar-gutter: stable;
      overscroll-behavior: contain;
    }

    &.dark {
      background-color: var(--background-inverted);
    }

    &.white {
      background-color: white;
    }
  }

  &:not(.white) {
    @include font-smoothing;
  }

  &.white:before {
    background: white;
    transition-duration: var(--motion-speed-very-fast);
    transition-timing-function: var(--motion-ease-in);
    opacity: 1;
  }

  .logoWrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    @include mq($from: large) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: px-to-rem(var(--grid-gutter));
      align-items: baseline;
    }

    .logoWrapperInner {
      position: relative;
      padding-inline-end: px-to-rem(var(--grid-gutter));

      @include mq($from: large) {
        align-content: center;
        align-self: flex-end;
        grid-column: 1 / 4;
      }
    }

    .logo {
      height: px-to-rem(40);
      flex-shrink: 0;
      flex-grow: 0;

      @include mq($from: large) {
        display: block;
        height: px-to-rem(48);
      }
    }

    .menuButton {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }

  .mobileMenu {
    @include expandable-wrapper;

    &.open {
      @include expandable-wrapper-visible;
    }

    .mobileMenuWrapper {
      @include expandable-content;
    }
  }

  .navigation {
    margin-block-end: px-to-rem(var(--margin-nav-bottom));

    @include mq($from: large) {
      position: relative;
      grid-column: 5 / 12;
      margin-block-end: px-to-rem(10, true);
      margin-inline: px-to-rem(var(--spacing-m), true);
    }
  }

  .horizontalLine {
    width: 100%;
    height: px-to-rem(var(--border-width-s));
    margin-block-end: px-to-rem(var(--margin-nav-bottom));

    &.dark {
      background-color: var(--border-weak-inverted);
    }

    &.light,
    &.white {
      background-color: var(--border-primary);
    }
  }

  .langnav {
    margin-block-end: px-to-rem(var(--margin-nav-bottom));

    @include mq($from: large) {
      margin-block-end: 0;
    }
  }

  .metanavWrapper {
    @include expandable-wrapper-visible;

    display: grid;
    will-change: transform, opacity, grid-template-rows;
    transition-duration: var(--motion-speed-fast);
    transition-property: transform, grid-template-rows, opacity;

    &.metanavHidden {
      @include expandable-wrapper;
    }

    &:not(.metanavHidden) {
      @include mq($from: large) {
        margin-block-end: px-to-rem(var(--spacing-l));
      }
    }
  }

  .metanav {
    @include expandable-content;

    margin-block-end: px-to-rem(var(--spacing-2xl));

    @include mq($from: large) {
      margin-block-end: 0;
    }
  }

  .infoBlock {
    z-index: 2;
    width: px-to-rem(260);
    padding: 0;

    @include mq($from: wide) {
      width: px-to-rem(400);
    }
  }

  .metanavWrapper.metanavHidden ~ .infoBlock {
    inset-block-start: var(--info-block-top, px-to-rem(155));
  }
}

.headerSSR {
  @include mq($to: large) {
    .metanav,
    .navigation,
    .langnav {
      display: none;
    }

    .logoWrapper {
      margin-block: px-to-rem(var(--spacing-2xs));
    }
  }

  @include mq($from: large) {
    min-height: px-to-rem(182);
  }
}
