@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/animations" as *;

.expandableMenu {
  --button-text-size: var(--font-size-m);

  padding: 0;
  position: relative;

  @include mq($from: large) {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: px-to-rem(var(--spacing-m));
    margin-block-end: px-to-rem(var(--spacing-s));

    @include mq($from: large) {
      margin-block-end: 0;
    }

    .buttonLevel1 {
      padding: 0;
      user-select: none;
      width: 100%;
      line-height: 1.2;

      @include mq($from: large) {
        padding-inline: px-to-rem(var(--spacing-m));
      }
    }

    .icon {
      color: var(--icon-secondary-inverted);
      flex-basis: px-to-rem(var(--spacing-m));
      flex-shrink: 0;
      flex-grow: 0;
      transition: transform var(--motion-speed-very-fast) var(--motion-ease-in-out);

      &.active {
        transform: rotate3d(0, 0, 1, 180deg);
      }

      @include reduced-motion {
        transition: none;
      }
    }
  }

  .list {
    @include expandable-wrapper;

    @include mq($from: large) {
      position: absolute;
      padding-block: px-to-rem(var(--inside-elements-l));
      inset-block-start: 100%;
      inset-inline-start: px-to-rem(var(--spacing-xs), true);
      width: max-content;
      min-width: 100%;
      overflow: visible;
    }

    @include mq($from: large, $to: wide) {
      max-width: 250%;
    }

    .listWrapper {
      @include expandable-content;
      @include list-reset;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      --button-text-size: var(--font-size-m);
    }

    &.visible,
    &.active {
      @include expandable-wrapper-visible;

      .item {
        transform: translate3d(px-to-rem(var(--spacing-l)), 0, 0);

        @include mq($from: large) {
          transform: none;
        }
      }
    }

    .item {
      transition: transform var(--motion-speed-very-fast) var(--motion-ease-in-out);
      user-select: none;
      width: calc(100% - px-to-rem(var(--spacing-l)));
      text-wrap: pretty;

      @include mq($to: large) {
        padding: 0;
      }

      @include mq($from: large) {
        transition: none;
        width: auto;
      }

      @include reduced-motion {
        transition: none;
      }
    }
  }

  &.light .icon,
  &.white .icon {
    color: currentcolor;
  }
}

.expandableMenu.footer {
  --button-text-size: var(--body-text-s-size);

  cursor: default;

  .buttonWrapper {
    @include mq($from: large) {
      margin-block-end: 0;
    }
  }

  .list {
    margin-block-start: px-to-rem(var(--spacing-xs));

    @include mq($from: large) {
      position: relative;
      display: flex;
      grid-template-rows: unset;
      overflow: visible;
      transition: none;
      opacity: 1;
      padding-block: 0;
      margin-block-start: 0;
      margin-inline-start: px-to-rem(var(--spacing-m), true);
    }
  }

  .listWrapper {
    li:last-of-type {
      margin-block-end: px-to-rem(var(--spacing-l));

      @include mq($from: large) {
        margin-block-end: 0;
      }
    }
  }

  .item.item {
    --button-padding-block-inner-text: var(--body-text-s-size);

    transform: none;
    transition: none;
  }

  .footerColumnTitle {
    @include button-text;

    @include mq($from: large) {
      margin-block-start: 0;
    }

    font-size: px-to-rem(var(--button-text-size));
    color: var(--text-primary-inverted);
  }
}
