@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/animations" as *;

.expandableMenu {
  --button-text-size: var(--font-size-m);

  padding: px-to-rem(var(--grid-margin));

  .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .buttonLevel1 {
      padding: 0;
    }

    .icon {
      color: var(--icon-secondary-inverted);
      flex-basis: px-to-rem(var(--spacing-m));
      flex-shrink: 0;
      flex-grow: 0;
      transition: transform var(--motion-speed-very-fast) var(--motion-ease-in-out);

      &.active {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }
  }

  .list {
    @include list-reset;
    @include expandable-wrapper;

    margin-block-start: px-to-rem(var(--spacing-s));

    @include mq($from: medium) {
      margin-block-start: px-to-rem(var(--spacing-xl));
    }

    .listWrapper {
      @include expandable-content;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: px-to-rem(0);
    }

    &.visible,
    &.active {
      @include expandable-wrapper-visible;

      .item {
        @include mq($from: medium) {
          transform: translate3d(px-to-rem(var(--spacing-l)), 0, 0);
        }
      }
    }

    .item {
      padding: 0;

      @include mq($from: medium) {
        transition: transform var(--motion-speed-very-fast) var(--motion-ease-in-out);
      }
    }
  }
}
