@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/mixins/mixins-shared-styles" as *;

.teasers {
  .teaser {
    position: relative;

    &:not(:first-of-type):before {
      position: absolute;
      content: "";
      inset-block: px-to-rem(-1);
      inset-inline: px-to-rem(var(--grid-margin));
      height: px-to-rem(var(--border-width-l));
      background: var(--border-primary);
    }

    .stickyContent {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }

    .stickyTitle {
      order: 1;
    }

    .icon {
      aspect-ratio: 1/1;
      order: 0;
      color: var(--primary-blue-light);
      width: px-to-rem(120);
      height: auto;

      @include mq($from: large) {
        width: px-to-rem(280);
        max-width: 100%;
        order: 2;
        margin-block-end: px-to-rem(28);
      }
    }

    .text {
      @include body-text-m;

      margin-block-start: 0;

      @include mq($from: large) {
        grid-column: 5/12;
      }

      @include mq($from: ultra) {
        grid-column: 5/11;
      }
    }

    .link {
      margin-block-end: px-to-rem(var(--spacing-m));
      padding-inline: 0;

      svg {
        color: var(--interaction-secondary);
      }
    }
  }
}
