@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/mixins/mixins-shared-styles" as *;

.teasers {
  .teaser {
    .stickyContent {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }

    .stickyTitle {
      order: 1;
    }

    .icon {
      order: 0;
      color: var(--primary-blue-light);
      width: px-to-rem(120);
      height: px-to-rem(120);
      margin-block-end: px-to-rem(var(--spacing-2xl));

      @include mq($from: large) {
        width: px-to-rem(200);
        height: px-to-rem(200);
        order: 2;
        margin-block-end: 0;
      }
    }

    .text {
      @include body-text-m;

      margin-block-start: 0;

      @include mq($from: large) {
        grid-column: 5/12;
      }

      @include mq($from: ultra) {
        grid-column: 5/11;
      }
    }

    .link {
      margin-block-end: px-to-rem(var(--spacing-m));
      padding-inline: 0;

      svg {
        color: var(--interaction-secondary);
      }
    }
  }
}
