@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/mediaqueries" as *;

.item {
  @include list-reset;

  padding-block: px-to-rem(var(--inside-elements-l));
  border-block-end: px-to-rem(var(--border-width-l)) solid var(--border-primary);

  .link {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    column-gap: px-to-rem(var(--inside-elements-l));
    row-gap: px-to-rem(var(--inside-elements-s));
    align-items: start;
    grid-auto-columns: min-content;
    text-decoration: none;

    &:hover,
    &:focus {
      .textAndIconWrapper .itemIcon {
        color: var(--interaction-secondary-hover);
      }
    }

    &:hover {
      .textContentTitle {
        @include link-text-underline;
      }
    }

    .tag {
      grid-column: 2;
      grid-row: 1;
      justify-self: start;
    }

    .largeDate {
      grid-column: 1;
      grid-row: 2;
      align-self: start;
      color: var(--icon-primary);
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .largeDay {
        @include title-heading-3;

        width: 100%;
        margin-block-start: px-to-rem(5, true);
        font-variant-numeric: lining-nums tabular-nums;
        font-feature-settings: "ss01" 1, "ss02" 1, "ss06" 1, "ss08" 1, "tnum" 1;
        font-size: px-to-rem(var(--font-size-3xl));
        color: var(--icon-primary);

        @include mq($from: large) {
          margin-block: px-to-rem(6, true) px-to-rem(var(--spacing-2xs), true);
          font-size: px-to-rem(calc(var(--font-size-3xl) + var(--spacing-xs)));
        }
      }

      .largeMonthYear {
        @include label-text;
        @include font-smoothing;
      }
    }

    .textAndIconWrapper {
      grid-column: 2;
      grid-row: 2;
      display: flex;
      align-items: center;
      column-gap: px-to-rem(var(--inside-elements-l));

      .textContent {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .textContentTitle {
          @include title-heading-4;

          padding-block-end: px-to-rem(var(--spacing-m));
          color: var(--text-primary);
        }

        .textContentText {
          @include body-text-s;

          color: var(--text-secondary);
        }
      }

      .itemIcon {
        grid-column: 3;
        grid-row: 2;
        justify-self: start;
        align-self: center;
        height: 1.5rem;
        width: 1.5rem;
        flex-shrink: 0;
        color: var(--interaction-secondary);

        path {
          stroke-width: 2;
        }
      }
    }
  }
}
