@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/mixins/mixins-rte" as *;

.section {
  @include rte-text;

  padding-block: px-to-rem(var(--spacing-4xl));

  :first-child {
    margin-block-start: 0;
  }

  .button {
    padding-inline-start: 0;
    margin-block-start: px-to-rem(var(--spacing-m));

    svg {
      color: var(--interaction-secondary);
    }
  }
}
