// Variable values shared by all themes
:root {
  --background-cta: var(--secondary-blue-comp-1);
  --background-inverted: var(--primary-blue-dark);
  --background-light: var(--primary-blue-light);
  --background-negative: var(--red-100);
  --background-page: var(--white);
  --background-page-overlay: #1e324199;
  --background-positive: var(--sky-100);
  --background-video: #1e324166;
  --background-warning: var(--orange-100);
  --border-image: #0000000a;
  --border-negative: var(--red-200);
  --border-positive: var(--sky-200);
  --border-primary: var(--primary-blue-dark);
  --border-primary-inverted: var(--secondary-white);
  --border-secondary: var(--gray-600);
  --border-secondary-inverted: var(--primary-blue-light);
  --border-warning: var(--orange-200);
  --border-weak: var(--primary-blue-light);
  --border-weak-inverted: var(--secondary-blue-comp-1);
  --brand-primary: var(--primary-blue-dark);
  --brand-secondary: var(--primary-blue-light);
  --icon-error: var(--red-700);
  --icon-error-inverted: var(--red-200);
  --icon-positive: var(--sky-700);
  --icon-primary: var(--primary-blue-dark);
  --icon-primary-inverted: var(--secondary-white);
  --icon-secondary: var(--gray-600);
  --icon-secondary-inverted: var(--primary-blue-light);
  --icon-warning: var(--orange-700);
  --interaction-primary: var(--primary-blue-dark);
  --interaction-primary-active: var(--primary-blue-dark);
  --interaction-primary-hover: var(--secondary-blue-comp-1);
  --interaction-primary-inverted: var(--primary-blue-light);
  --interaction-primary-inverted-active: var(--primary-blue-light);
  --interaction-primary-inverted-hover: var(--secondary-white);
  --interaction-secondary: var(--secondary-red-2);
  --interaction-secondary-hover: #b53f46;
  --interaction-secondary-inverted: var(--primary-blue-light);
  --text-error: var(--red-700);
  --text-error-inverted: var(--red-200);
  --text-positive: var(--sky-700);
  --text-primary: var(--secondary-black);
  --text-primary-inverted: var(--secondary-white);
  --text-quote: var(--secondary-blue-comp-1);
  --text-secondary: var(--gray-600);
  --text-secondary-inverted: var(--primary-blue-light);
  --text-warning: var(--orange-700);
}
