:root {
  --primary-blue-dark: #1e3241;
  --primary-blue-light: #c8e1f0;
  --secondary-black: #000;
  --secondary-blue-comp-1: #1e4a69;
  --secondary-blue-comp-2: #286987;
  --secondary-red-1: #5f2828;
  --secondary-red-2: #822d32;
  --secondary-red-3: #e5503d;
  --secondary-red-4: #f8d1cb;
  --secondary-white: #fff;
  --tertiary-green-1: #2d4132;
  --tertiary-green-2: #466955;
  --tertiary-green-3: #d1ead2;
  --tertiary-olive-1: #a39968;
  --tertiary-olive-2: #cccca1;
  --tertiary-olive-3: #e8e8d3;
  --tertiary-purple-1: #46284b;
  --tertiary-purple-2: #6e4b73;
  --tertiary-purple-3: #d6cadd;
}
