:root {
  --font-family-display:
    "Helvetica Now Display",
    "Helvetica Now",
    "Helvetica Neue",
    helvetica,
    arial,
    sans-serif;
  --font-family-text:
    "Helvetica Now Text",
    "Helvetica Now",
    "Helvetica Neue",
    helvetica,
    arial,
    sans-serif;
  --font-weight-bold: bold;
  --font-weight-medium: medium;
}

@font-face {
  font-family: HelveticaNowText;
  src:
    local("HelveticaNowText Bold"),
    local("HelveticaNowText-Bold"),
    url("/webfonts/subset-HelveticaNowText-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: HelveticaNowText;
  src:
    local("HelveticaNowText It"),
    local("HelveticaNowText-It"),
    url("/webfonts/subset-HelveticaNowText-It.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src:
    local("Helvetica Now Display Bold"),
    local("HelveticaNowDisplay-Bd"),
    url("/webfonts/subset-HelveticaNowDisplay-Bd.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src:
    local("Helvetica Now Display"),
    local("HelveticaNowDisplay-Regular"),
    url("/webfonts/subset-HelveticaNowDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: HelveticaNowText;
  src:
    local("HelveticaNowText Medium"),
    local("HelveticaNowText-Medium"),
    url("/webfonts/subset-HelveticaNowText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src:
    local("Helvetica Now Display It"),
    local("HelveticaNowDisplay-Italic"),
    url("/webfonts/subset-HelveticaNowDisplay-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: HelveticaNowText;
  src:
    local("HelveticaNowText Regular"),
    local("HelveticaNowText-Regular"),
    url("/webfonts/subset-HelveticaNowText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
