:root {
  --font-family-display:
    "Helvetica Now Display",
    "Helvetica Now",
    "Helvetica Neue",
    helvetica,
    arial,
    sans-serif;
  --font-family-text:
    "Helvetica Now Text",
    "Helvetica Now",
    "Helvetica Neue",
    helvetica,
    arial,
    sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
}

@font-face {
  font-family: HelveticaNowText;
  src:
    local("HelveticaNowText Bold"),
    local("HelveticaNowText-Bold"),
    url("/webfonts/HelveticaNowText-Bold-lf.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: HelveticaNowText;
  src:
    local("HelveticaNowText It"),
    local("HelveticaNowText-It"),
    url("/webfonts/HelveticaNowText-Italic-lf.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src:
    local("Helvetica Now Display Bold"),
    local("HelveticaNowDisplay-Bd"),
    url("/webfonts/HelveticaNowDisplay-Bold-lf.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src:
    local("Helvetica Now Display"),
    local("HelveticaNowDisplay-Regular"),
    url("/webfonts/HelveticaNowDisplay-Regular-lf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: HelveticaNowText;
  src:
    local("HelveticaNowText Medium"),
    local("HelveticaNowText-Medium"),
    url("/webfonts/HelveticaNowText-Medium-lf.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src:
    local("Helvetica Now Display It"),
    local("HelveticaNowDisplay-Italic"),
    url("/webfonts/HelveticaNowDisplay-Italic-lf.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: HelveticaNowText;
  src:
    local("HelveticaNowText Regular"),
    local("HelveticaNowText-Regular"),
    url("/webfonts/HelveticaNowText-Regular-lf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
