// font-size
$base-font-size: 16;

// breakpoints
$breakpoint-zero: 0;
$breakpoint-micro: 320;
$breakpoint-small: 360;
$breakpoint-medium: 640;
$breakpoint-large: 1024;
$breakpoint-wide: 1280;
$breakpoint-ultra: 1600;
