@use "../../../styles/mixins/mixins-rte" as *;
@use "../../../styles/mixins/mixins-layout" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/utilities" as *;

.rte {
  background-color: var(--background-color);
  color: var(--text-color, var(--text-primary));
  text-wrap: pretty;

  &:not(.white) {
    @include font-smoothing;
  }

  &.light {
    --background-color: var(--background-light);
    --text-color: var(--text-primary);

    ::selection {
      background: var(--interaction-primary);
      color: var(--text-primary-inverted);
    }
  }

  &.white {
    --background-color: var(--background-page);
    --text-color: var(--text-primary);

    ::selection {
      background: var(--interaction-primary);
      color: var(--text-primary-inverted);
    }
  }

  &.dark {
    --background-color: var(--background-cta);
    --text-color: var(--text-primary-inverted);
    --link-color: var(--text-color);
    --link-color-focus-hover: var(--text-color);

    ::selection {
      background: var(--text-primary-inverted);
      color: var(--interaction-primary);
    }
  }

  .text {
    @include rte-text;
  }

  /**
    RTE Variant where first heading is placed
    in the left column, starting from large
    viewport on. (e.g. magazine detail)
   **/
  &.stickyFirstTitle {
    .text {
      @include block-layout-sticky-title;
      @include text-block-padding;

      @include mq($from: large) {
        > :not(:first-child) {
          grid-column: 5 / 12;
        }
      }

      @include mq($from: ultra) {
        > :not(:first-child) {
          grid-column: 5 / 11;
        }
      }

      row-gap: unset;
    }
  }
}
