@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/mixins/mixins-layout" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/utilities" as *;

.rte {
  @include body-text-m;

  background-color: var(--background-color);
  color: var(--text-color, var(--text-primary));
  text-wrap: pretty;

  &:not(.white) {
    @include font-smoothing;
  }

  &.light {
    --background-color: var(--background-light);
    --text-color: var(--text-primary);

    ::selection {
      background: var(--interaction-primary);
      color: var(--text-primary-inverted);
    }
  }

  &.white {
    --background-color: var(--background-page);
    --text-color: var(--text-primary);

    ::selection {
      background: var(--interaction-primary);
      color: var(--text-primary-inverted);
    }
  }

  &.dark {
    --background-color: var(--background-cta);
    --text-color: var(--text-primary-inverted);
    --link-color: var(--text-color);
    --link-color-focus-hover: var(--text-color);

    ::selection {
      background: var(--text-primary-inverted);
      color: var(--interaction-primary);
    }
  }

  // Headings
  // --------
  h2 {
    @include title-heading-3;

    margin-block-end: px-to-rem(var(--section-inside-s));

    & + h3 {
      margin-block-start: px-to-rem(var(--spacing-m), true);
    }
  }

  h3 {
    @include title-heading-4;

    margin-block-start: px-to-rem(var(--inside-elements-l));
    margin-block-end: px-to-rem(var(--inside-elements-m));

    & + h4,
    & + h5 {
      margin-block-start: px-to-rem(var(--inside-elements-2xs));
    }
  }

  h4,
  h5 {
    @include title-heading-5;

    margin-block-start: px-to-rem(var(--inside-elements-l));
    margin-block-end: px-to-rem(var(--inside-elements-m));

    & + ul,
    & + ol {
      margin-block-start: px-to-rem(var(--spacing-xs), true);
    }

    & + p {
      margin-block-start: px-to-rem(var(--spacing-2xs), true);
    }
  }

  h5 {
    font-weight: bold;
  }

  // Paragraph
  // --------
  p {
    margin-block-start: 0;
    margin-block-end: px-to-rem(var(--spacing-l));
  }

  // Lists
  // --------
  // TODO marker for li in ul? Figma style just
  // copy paste or on purpose?
  ul,
  ol {
    margin-block: 0;
    padding-inline-start: px-to-rem(40);

    &:not(:last-child) {
      margin-block-end: px-to-rem(var(--inside-elements-m));
    }

    li {
      margin-block: px-to-rem(var(--spacing-2xs));
    }
  }

  // Link
  // --------
  a {
    @include link-text-underline;

    display: inline-flex;
    align-items: center;
    color: var(--link-color, --interaction-primary);

    &:focus,
    &:hover {
      color: var(--link-color-focus-hover, --interaction-primary-hover);
    }
  }

  // TODO eventually move to a different place
  // later?
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  p {
    &:last-child {
      margin-block-end: 0;
    }

    &:empty {
      display: none;
    }
  }

  /**
    RTE Variant where first heading is placed
    in the left column, starting from large
    viewport on. (e.g. magazine detail)
   **/
  &.stickyFirstTitle {
    div {
      @include block-layout-sticky-title;
      @include text-block-padding;

      @include mq($from: large) {
        > :not(:first-child) {
          grid-column: 5 / 12;
        }
      }

      @include mq($from: ultra) {
        > :not(:first-child) {
          grid-column: 5 / 11;
        }
      }

      row-gap: unset;
    }
  }
}
