.image {
  opacity: 0;
  transition: opacity var(--motion-speed-fast) var(--motion-ease-in);

  &.hero,
  &.content,
  &.contentWide {
    aspect-ratio: 16 / 9;
  }

  &.hero {
    width: 100%;
    height: auto;
  }

  &.genericTeaser {
    aspect-ratio: 4 / 3;
  }

  &.networkTeaser,
  &.portrait,
  &.portraitCta {
    aspect-ratio: 1 / 1;
  }

  &.portraitCta {
    overflow: hidden;
    border-radius: 100%;
  }

  &.publicationTeaser {
    aspect-ratio: 12 / 17;
  }

  noscript &,
  &.loaded {
    opacity: 1;
  }
}
