.hero,
.content,
.contentFull {
  aspect-ratio: 16 / 9;
}

.genericTeaser {
  aspect-ratio: 4 / 3;
}

.portrait,
.portraitCta {
  aspect-ratio: 1 / 1;
}

.publicationTeaser {
  aspect-ratio: 12 / 17;
}
