@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/utilities" as *;

.hero {
  --hero-padding-block-start-fallback: 0;

  @include mq($to: medium) {
    --hero-padding-block-start-fallback: 96;
  }

  @include mq($from: medium, $to: large) {
    --hero-padding-block-start-fallback: 112;
  }

  @include mq($from: large) {
    --hero-padding-block-start-fallback: 180;
  }

  @include mq($from: ultra) {
    --hero-padding-block-start-fallback: 182;
  }

  background-color: var(--color-background);
  padding: px-to-rem(var(--hero-big)) px-to-rem(var(--grid-margin));
  padding-block-start: calc(px-to-rem(var(--hero-big)) + var(--hero-padding-block-start, px-to-rem(var(--hero-padding-block-start-fallback))));
  overflow-x: hidden;

  @include mq($from: large) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: px-to-rem(var(--grid-gutter));
  }

  &.dark {
    @include font-smoothing;

    --color-background: var(--background-inverted);
    --color-title: var(--text-primary-inverted);
    --color-lead: var(--text-secondary-inverted);
    --color-event-details: var(--text-secondary-inverted);
    --color-side-title: var(--text-primary-inverted);
    --color-news-date: var(--text-secondary-inverted);
    --color-author-name: var(--text-secondary-inverted);
    --color-author-date: var(--text-secondary-inverted);
  }

  &.light {
    --color-background: var(--background-light);
    --color-title: var(--text-primary);
    --color-lead: var(--text-primary);
    --color-event-details: var(--text-secondary);
    --color-side-title: var(--text-primary);
    --color-news-date: var(--text-secondary);
    --color-author-name: var(--text-primary);
    --color-author-date: var(--text-secondary);
  }

  &.white {
    --color-background: var(--background-page);
    --color-title: var(--text-primary);
    --color-lead: var(--text-primary);
    --color-event-details: var(--text-secondary);
    --color-side-title: var(--text-primary);
    --color-news-date: var(--text-secondary);
    --color-author-name: var(--text-primary);
    --color-author-date: var(--text-secondary);
  }

  // &.animated {}

  .leftColumn {
    @include mq($from: large) {
      grid-column: 1 / 4;
      margin-block-end: 0;
    }

    .breadcrumb {
      margin-block-end: px-to-rem(var(--hero-small));
    }

    .sideTitle {
      @include title-heading-4;

      color: var(--color-side-title);
      margin-block-end: px-to-rem(var(--hero-small));

      @include mq($from: large) {
        margin-block: px-to-rem(var(--spacing-s)) 0;
      }
    }
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    row-gap: px-to-rem(var(--spacing-l));

    @include mq($from: large) {
      grid-column: 5 / 12;
      row-gap: px-to-rem(var(--spacing-2xl));
      margin-block-end: 0;
    }

    .tag {
      margin-block-end: px-to-rem(var(--inside-elements-m));

      @include mq($from: large) {
        margin-block-start: px-to-rem(var(--spacing-s));
      }
    }

    .title {
      @include title-heading-1;

      color: var(--color-title);
    }

    .lead {
      @include body-text-lead;
      @include font-layout-features;

      margin: 0;
      color: var(--color-lead);
    }

    .newsDate {
      @include body-text-s;

      color: var(--color-news-date);
      margin-block-start: px-to-rem(var(--section-inside-s));
    }

    .eventDetails {
      @include body-text-s;

      color: var(--color-event-details);
      margin-block: px-to-rem(var(--section-inside-s)) 0;
    }

    .magazineDetailExtras {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block-start: px-to-rem(var(--section-inside-s));

      .authorDate {
        display: flex;
        flex-direction: column;
        margin-block: 0;

        .author {
          @include body-text-m;

          color: var(--color-author-name);
        }

        .date {
          @include body-text-s;

          color: var(--color-author-date);
        }
      }

      .exportButtonLarge {
        display: none;

        @include mq($from: medium) {
          display: flex;
        }
      }

      .exportButtonSmall {
        display: none;

        @include mq($to: medium) {
          display: flex;
        }
      }
    }

    .link {
      padding-inline: 0;
      margin-block-start: px-to-rem(calc(var(--spacing-m) + var(--spacing-l)));

      @include mq($from: medium) {
        margin-block-start: px-to-rem(var(--spacing-m));
      }
    }
  }

  @include mq($from: wide) {
    &.titleIndent {
      .title {
        display: block;
        text-indent: px-to-rem(116);
      }
    }
  }

  &.magazineDetail {
    .title {
      @include title-heading-article;
    }
  }
}
