@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/utilities" as *;

.hero {
  --hero-padding-block-start-fallback: 0;

  @include mq($to: medium) {
    --hero-padding-block-start-fallback: 96;
  }

  @include mq($from: medium, $to: large) {
    --hero-padding-block-start-fallback: 112;
  }

  @include mq($from: large) {
    --hero-padding-block-start-fallback: 180;
  }

  @include mq($from: ultra) {
    --hero-padding-block-start-fallback: 182;
  }

  position: relative;
  background-color: var(--color-background);
  padding: px-to-rem(var(--hero-big)) px-to-rem(var(--grid-margin));
  padding-block-start: calc(px-to-rem(var(--hero-big)) + var(--hero-padding-block-start, px-to-rem(var(--hero-padding-block-start-fallback))));
  overflow-x: hidden;

  @include mq($from: large) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: px-to-rem(var(--grid-gutter));
  }

  &.dark {
    @include font-smoothing;

    --color-background: var(--background-inverted);
    --color-title: var(--text-primary-inverted);
    --color-lead: var(--text-secondary-inverted);
    --color-event-details: var(--text-secondary-inverted);
    --color-side-title: var(--text-primary-inverted);
    --color-news-date: var(--text-secondary-inverted);
    --color-author-name: var(--text-secondary-inverted);
    --color-author-date: var(--text-secondary-inverted);
  }

  &.light {
    --color-background: var(--background-light);
    --color-title: var(--text-primary);
    --color-lead: var(--text-primary);
    --color-event-details: var(--text-secondary);
    --color-side-title: var(--text-primary);
    --color-news-date: var(--text-secondary);
    --color-author-name: var(--text-primary);
    --color-author-date: var(--text-secondary);
  }

  &.white {
    --color-background: var(--background-page);
    --color-title: var(--text-primary);
    --color-lead: var(--text-primary);
    --color-event-details: var(--text-secondary);
    --color-side-title: var(--text-primary);
    --color-news-date: var(--text-secondary);
    --color-author-name: var(--text-primary);
    --color-author-date: var(--text-secondary);

    padding-block-end: 0;
  }

  // Key Visual Elements Home
  .keyVisualHome {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: px-to-rem(var(--grid-gutter));
    padding-inline: px-to-rem(var(--grid-margin));
    overflow: hidden;
  }

  // &.animated {}

  .leftColumn {
    position: relative;

    @include mq($from: large) {
      grid-column: 1 / 4;
      margin-block-end: 0;
    }

    .breadcrumb {
      margin-block-end: px-to-rem(var(--hero-small));
    }

    .sideTitle {
      @include title-heading-4;

      color: var(--color-side-title);
      margin-block-end: px-to-rem(var(--hero-small));

      @include mq($from: large) {
        margin-block: px-to-rem(var(--spacing-s)) 0;
      }
    }
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    position: relative;

    @include mq($from: large) {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 5 / 12;
      margin-block-end: 0;

      > * {
        grid-column: 1 / 8;
      }
    }

    .tag {
      width: fit-content;
      margin-block-start: 0;
      margin-block-end: px-to-rem(var(--spacing-m));

      @include mq($from: large) {
        margin-block-start: px-to-rem(var(--spacing-s));
        margin-block-end: px-to-rem(var(--spacing-l));
      }
    }

    .title {
      @include title-heading-1;

      color: var(--color-title);
      margin-block-end: px-to-rem(var(--spacing-l));

      @include mq($from: large) {
        margin-block-end: px-to-rem(var(--spacing-2xl));
      }
    }

    .lead {
      @include body-text-lead;
      @include font-layout-features;

      color: var(--color-lead);
      margin: 0 0 px-to-rem(var(--spacing-l));

      @include mq($from: large) {
        grid-column: 1 / 7;
      }

      &:not(:last-child) {
        margin-block-end: px-to-rem(var(--spacing-xl));

        @include mq($from: large) {
          grid-column: 1 / 7;
          margin-block-end: px-to-rem(var(--spacing-3xl));
        }
      }
    }

    .newsDate {
      @include body-text-s;

      color: var(--color-news-date);
      margin-block-start: 0;
    }

    .eventDetails {
      @include body-text-s;

      color: var(--color-event-details);
      margin-block-start: 0;
      margin-block-end: px-to-rem(var(--spacing-l));

      .lead {
        @include mq($from: large) {
          margin-block-end: px-to-rem(var(--spacing-xl));
        }
      }
    }

    .magazineDetailExtras {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block-start: px-to-rem(var(--spacing-2xl));

      .authorDate {
        display: flex;
        flex-direction: column;
        margin-block: 0;

        .author {
          @include body-text-m;

          color: var(--color-author-name);
          margin-block-end: px-to-rem(var(--spacing-2xs));
        }

        .date {
          @include body-text-s;

          color: var(--color-author-date);
        }
      }

      .exportButtonLarge {
        display: none;

        @include mq($from: medium) {
          display: flex;

          --button-border-color: var(--border-weak);
        }
      }

      .exportButtonSmall {
        display: none;

        @include mq($to: medium) {
          display: flex;

          --button-border-color: var(--border-weak);
        }
      }
    }

    .link {
      padding-inline: 0;
      margin-block-start: px-to-rem(calc(var(--spacing-m) + var(--spacing-l)));

      @include mq($from: medium) {
        margin-block-start: px-to-rem(var(--spacing-m));
      }
    }
  }

  @include mq($from: wide) {
    &.titleIndent {
      .title {
        display: block;
        text-indent: px-to-rem(116);
      }
    }
  }

  &.magazineDetail {
    padding-block-end: px-to-rem(var(--hero-big));

    .title {
      @include title-heading-article;

      margin-block-end: px-to-rem(var(--spacing-l));

      @include mq($from: medium) {
        margin-block-end: px-to-rem(var(--spacing-2xl));
      }
    }

    .lead {
      @include body-text-lead;

      font-size: px-to-rem(var(--body-text-lead-size));
    }
  }

  &.errorPage {
    @include mq($to: large) {
      display: flex;
      flex-direction: column;
      gap: px-to-rem(var(--spacing-xl));
    }

    .errorLeftStack {
      align-items: flex-start;
      display: flex;
      flex-direction: column-reverse;
      row-gap: px-to-rem(var(--spacing-2xl));

      @include mq($from: large) {
        flex-direction: column;
      }
    }

    .errorStatus {
      @include title-heading-3;

      color: var(--color-title);
      margin: 0;
    }

    .errorIcon {
      color: var(--interaction-primary);
      height: px-to-rem(120);
      width: px-to-rem(120);

      svg path {
        fill: var(--background-cta);
      }

      @include mq($from: medium) {
        height: px-to-rem(200);
        width: px-to-rem(200);
      }

      @include mq($from: large) {
        height: px-to-rem(280);
        width: px-to-rem(280);
      }
    }

    .leftColumn {
      @include mq($to: large) {
        margin-block-end: 0;
      }
    }

    .rightColumn {
      @include mq($to: large) {
        display: flex;
        flex-direction: column;
        grid-column: unset;
        margin-block-end: 0;
      }

      @include mq($from: large) {
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
        margin-block-end: 0;

        > * {
          grid-column: unset;
        }
      }

      .lead {
        margin-block-end: 0;
      }
    }
  }
}
