@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/mediaqueries" as *;

// @use "../../../styles/utilities/utilities" as *;

.hero {
  background-color: var(--color-background);

  @include mq($from: large) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: px-to-rem(var(--grid-gutter));
  }

  &.dark {
    --color-background: var(--background-inverted);
    --color-title: var(--text-primary-inverted);
    --color-lead: var(--text-secondary-inverted);
    --color-event-details: var(--text-secondary-inverted);
    --color-side-title: var(--text-primary-inverted);
    --color-news-date: var(--text-secondary-inverted);
    --color-author-name: var(--text-secondary-inverted);
    --color-author-date: var(--text-secondary-inverted);
  }

  &.light {
    --color-background: var(--background-light);
    --color-title: var(--text-primary);
    --color-lead: var(--text-primary);
    --color-event-details: var(--text-secondary);
    --color-side-title: var(--text-primary);
    --color-news-date: var(--text-secondary);
    --color-author-name: var(--text-primary);
    --color-author-date: var(--text-secondary);
  }

  &.white {
    --color-background: var(--background-page);
    --color-title: var(--text-primary);
    --color-lead: var(--text-primary);
    --color-event-details: var(--text-secondary);
    --color-side-title: var(--text-primary);
    --color-news-date: var(--text-secondary);
    --color-author-name: var(--text-primary);
    --color-author-date: var(--text-secondary);
  }

  // &.titleIndent {}
  // &.animated {}

  .leftColumn {
    // .breadcrumb {}

    .sideTitle {
      @include title-heading-4;

      color: var(--color-side-title);
    }
  }

  .rightColumn {
    @include mq($from: large) {
      grid-column: 5 / 12;
      margin-block-end: 0;
    }

    // .tag {}

    .title {
      @include title-heading-1;

      color: var(--color-title);
    }

    .lead {
      @include body-text-lead;

      color: var(--color-lead);
    }

    .newsDate {
      @include body-text-s;

      color: var(--color-news-date);
    }

    .eventDetails {
      @include body-text-s;

      color: var(--color-event-details);
    }

    .magazineDetailExtras {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .authorDate {
        display: flex;
        flex-direction: column;

        .author {
          @include body-text-m;

          color: var(--color-author-name);
        }

        .date {
          @include body-text-s;

          color: var(--color-author-date);
        }
      }

      .exportButtonLarge {
        display: none;

        @include mq($from: medium) {
          display: flex;
        }
      }

      .exportButtonSmall {
        display: none;

        @include mq($to: medium) {
          display: flex;
        }
      }
    }

    .link {
      padding-inline: 0;
    }
  }
}
