@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-layout" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/mediaqueries" as *;

.eventsNewsList {
  @include block-layout-sticky-title("grid");
  @include generic-block-padding;

  &.teaser {
    @include generic-block-top-line;

    background-color: var(--background-light);
    color: var(--text-primary);
  }

  &.overview {
    .pagination {
      @include mq($from: large) {
        margin-block-start: px-to-rem(var(--section-inside-m));
      }
    }
  }

  .title {
    @include title-heading-3;

    margin: 0;
  }

  .list {
    @include list-reset;

    @include mq($from: large) {
      margin-block-start: px-to-rem(7);
    }

    li:first-of-type {
      padding-block-start: 0;
    }
  }

  .allLink {
    padding-inline: 0;

    @include mq($from: large) {
      margin-block-start: px-to-rem(var(--section-inside-m));
    }

    svg {
      color: var(--interaction-secondary);
    }
  }
}
