@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-layout" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/utilities" as *;

.news {
  @include block-layout-sticky-title("grid");
  @include generic-block-padding;

  &.teaser {
    @include generic-block-top-line;

    background-color: var(--background-light);
    color: var(--text-primary);
  }

  .title {
    @include title-heading-3;

    margin: 0;
  }

  .list {
    @include list-reset;

    .item {
      padding-block: px-to-rem(var(--inside-elements-l));
      border-block-end: px-to-rem(var(--border-width-l)) solid var(--border-primary);

      .link {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        gap: px-to-rem(var(--inside-elements-l));
        color: inherit;

        .textContent {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          flex: 1;
          min-width: 0;
          gap: px-to-rem(var(--inside-elements-m));

          .itemTitle {
            @include title-heading-4;

            display: block;
          }

          .itemText {
            @include body-text-m;

            display: block;
          }

          .itemDate {
            @include body-text-s;

            display: block;
            color: var(--text-secondary);
          }
        }

        .itemIcon {
          color: var(--interaction-secondary);
          flex: px-to-rem(var(--spacing-l)) 0 0;
          height: px-to-rem(var(--spacing-l));
        }
      }
    }

    .item:first-of-type {
      padding-block-start: 0;
    }
  }

  .allLink {
    padding-inline: 0;

    svg {
      color: var(--interaction-secondary);
    }
  }
}
