html.scrollLock {
  max-height: 100vh;
  overflow: hidden;
}

* {
  // text-rendering: optimizelegibility;
  // font-family: sans-serif !important;
  letter-spacing: 0 !important;
  line-height: 100% !important;
}
