@use "./functions" as *;
@use "./mediaqueries" as *;

// ##############################
// Hover / Focus styling
// ##############################

@mixin mouse-only() {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin hover-style() {
  @include mouse-only {
    &:hover {
      @content;
    }
  }

  &:focus,
  &:active {
    @content;
  }
}

// ##############################
// Resets
// ##############################

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin fieldset-reset {
  border: none;
  margin: 0;
  padding: 0;
  min-inline-size: auto;
}

@mixin button-reset {
  appearance: none;
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 0;
  background: none;
  -webkit-tap-highlight-color: transparent;
}

@mixin box-sizing {
  *,
  :before,
  :after {
    box-sizing: border-box;
  }
}

// ##############################
// a11y
// ##############################

@mixin forced-colors {
  @media (forced-colors: active) {
    @content;
  }
}

@mixin screen-reader-only {
  border: 0;
  clip-path: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin reduced-motion {
  @media (prefers-reduced-motion) {
    @content;
  }
}

@mixin focus-visible {
  outline: px-to-rem(var(--border-width-l)) solid var(--border-primary);
  outline-offset: px-to-rem(calc(-1 * var(--border-width-l)));

  @include forced-colors {
    outline-color: LinkText;
  }
}

// ##############################
// Better font rendering (on OS X)
// http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
// Usage:
// .var_dark_on_light {
// 	@include font-smoothing;
// }
// .var_light_on_dark {
// 	@include font-smoothing-reset;
// }
// ##############################

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
}

@mixin font-smoothing-reset {
  -webkit-font-smoothing: subpixel-antialiased;
}
