// just temporary, some definitions, not to get any linting errors

.rte {
  // color: black;

  // rte configs
  &.rte1 {
    // border: 1px solid black;
    color: inherit;

    p {
      margin: 0;
    }
  }

  &.rte2 {
    // border: 1px dashed black;
    color: inherit;
  }

  &.rte3 {
    // border: 1px dashed black;
    color: inherit;
  }

  a {
    color: inherit;
  }

  // rte contexts
  &.heroLead {
    font-size: 3rem;
  }

  &.magazineDetailLead {
    font-size: 4rem;
  }

  &.magazineDetailText {
    font-size: 1rem;
  }

  &.notification {
    font-size: 0.8rem;
  }
}
