@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/animations" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/mixins/mixins-typo" as *;

.videoWrapper {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-row: 1;
  column-gap: px-to-rem(var(--grid-gutter));
  row-gap: px-to-rem(var(--spacing-m));
  z-index: 1;
  padding-block: px-to-rem(var(--image-top));
  padding-inline: px-to-rem(var(--grid-margin));
  margin: 0;

  --figure-padding-block: 0;
  --figure-padding-inline: 0;

  figcaption {
    @include body-text-s;

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / calc(var(--grid-columns) + 1);
    row-gap: px-to-rem(var(--spacing-m));
    text-wrap: pretty;
  }

  .credits {
    grid-column: 1 / calc(var(--grid-columns) + 1);
    color: var(--text-secondary);
  }

  .caption {
    grid-column: 1 / calc(var(--grid-columns) + 1);
  }

  // Centered variant
  &.centered {
    .buttonWrapper,
    .videoWrapperInner {
      @include mq($from: large) {
        grid-column: 2 / var(--grid-columns);
      }
    }

    figcaption {
      grid-row: 2;

      @include mq($from: large) {
        grid-column: 2 / var(--grid-columns);
      }
    }

    .credits {
      &:not(:only-child) {
        @include mq($from: large) {
          grid-row: 1;
          grid-column: 1 / 4;
        }
      }
    }

    .caption {
      @include mq($from: large) {
        grid-column: 4 / var(--grid-columns);
      }
    }
  }

  // Shared styles for Left and right
  // aligned image variant
  &.left,
  &.right {
    figcaption {
      @include mq($from: large) {
        display: flex;
        flex-direction: column;
        row-gap: px-to-rem(var(--spacing-xl));
      }
    }
  }

  // Left aligned variant
  &.left {
    .videoContainer,
    .buttonWrapper,
    .consentMessageWrapper,
    .stillImageWrapper {
      @include mq($from: large) {
        grid-column: 1 / 9;
      }
    }

    .videoWrapperInner {
      @include mq($from: large) {
        grid-column: 1 / 9;
      }
    }

    figcaption {
      @include mq($from: large) {
        grid-column: 9 / var(--grid-columns);
      }
    }
  }

  // Right aligned variant
  &.right {
    .videoContainer,
    .buttonWrapper,
    .consentMessageWrapper,
    .stillImageWrapper {
      @include mq($from: large) {
        grid-column: 5 / calc(var(--grid-columns) + 1);
      }
    }

    .consentMessageWrapper {
      @include mq($from: large) {
        grid-column: 5 / calc(var(--grid-columns) + 1);
      }
    }

    .videoWrapperInner {
      @include mq($from: large) {
        grid-column: 5 / calc(var(--grid-columns) + 1);
      }
    }

    figcaption {
      @include mq($from: large) {
        grid-column: 1 / 5;
      }
    }
  }
}

.videoWrapperInner {
  grid-column: 1 / calc(var(--grid-columns) + 1);
  aspect-ratio: 16 / 9;
}

.videoContainer,
.buttonWrapper,
.consentMessageWrapper {
  position: absolute;
  contain: layout;
  z-index: 1;
  inset: 0;
  inset-block-start: px-to-rem(var(--image-top));
  aspect-ratio: 16/9;
  display: grid;
  grid-column: 1 / calc(var(--grid-columns) + 1);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.videoContainer {
  opacity: 1;
  z-index: 4;
  transition: opacity var(--motion-speed-fast) var(--motion-ease-in);
}

.videoContainer.paused {
  opacity: 0;
  pointer-events: none;
}

.buttonWrapper {
  z-index: 2;
  background: var(--background-video);
}

.duration {
  @include label-text;
  @include font-smoothing;

  position: absolute;
  z-index: 3;
  inset-inline-end: px-to-rem(var(--inside-elements-m));
  inset-block-end: px-to-rem(var(--inside-elements-m));
  display: inline-block;
  padding: px-to-rem(calc(var(--spacing-2xs) / 2)) px-to-rem(var(--spacing-2xs));
  background: var(--background-inverted);
  color: var(--text-secondary-inverted);
}

// Consent Message Wrapper
.consentMessageWrapper {
  background: var(--background-video-no-consent);
  overflow: hidden;
}

.stillImageWrapper {
  img {
    width: 100%;
    height: auto;
  }
}
