@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-shared-styles" as *;

.list {
  @include full-bleed-teaser-list-ultra;
}

.item {
  @include full-bleed-teaser-item-ultra;
}
