@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/utilities" as *;

.notification {
  @include body-text-m;

  @include forced-colors {
    border: px-to-rem(var(--border-width-m)) solid CanvasText;
  }

  --notification-padding: var(--grid-margin);
  --notification-background: var(--background-positive);
  --notification-color: var(--text-positive);
  --notification-link-color: var(--notification-color);

  padding: px-to-rem(var(--notification-padding));
  background: var(--notification-background);
  color: var(--notification-color);

  p {
    margin-block-start: 0;

    &:only-child {
      margin: 0;
    }
  }

  ul,
  ol {
    margin-block: 0;
    padding-inline-start: px-to-rem(var(--spacing-l));

    &:not(:last-child) {
      margin-block-end: px-to-rem(var(--inside-elements-m));
    }
  }

  a {
    @include link-text-underline;
    @include inline-svg;

    display: inline-flex;
    align-items: center;
    color: var(--notification-link-color);

    &:focus,
    &:hover {
      --notification-link-color: var(--interaction-primary-hover);
    }
  }
}
