@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/functions" as *;

.breadcrumb {
  display: flex;
  align-items: center;
  column-gap: px-to-rem(var(--spacing-m));

  &.dark {
    --icon-color: var(--interaction-primary-inverted);
  }

  &.light {
    --icon-color: var(--interaction-secondary);
  }

  &.white {
    --icon-color: var(--interaction-secondary);
  }

  .icon {
    width: px-to-rem(var(--spacing-m));
    height: px-to-rem(var(--spacing-m));
    color: var(--icon-color);
    flex-shrink: 0;
  }

  .hiddenLabel {
    @include screen-reader-only;
  }

  .content {
    @include list-reset;

    display: flex;
    align-items: center;
    column-gap: px-to-rem(var(--spacing-s));

    .item {
      display: flex;
      align-items: center;
      column-gap: px-to-rem(var(--spacing-s));

      .link {
        padding-inline: 0;
      }

      .separatorIcon {
        width: px-to-rem(var(--spacing-m));
        height: px-to-rem(var(--spacing-m));
      }
    }
  }
}
