@use "../../../styles/utilities/functions" as *;

.breadcrumb {
  display: flex;
  align-items: center;
  column-gap: px-to-rem(var(--spacing-m));

  .icon {
    width: px-to-rem(var(--spacing-m));
    height: px-to-rem(var(--spacing-m));
    color: var(--interaction-secondary);
  }

  .content {
    display: flex;
    align-items: center;
    column-gap: px-to-rem(var(--spacing-s));

    .item {
      display: flex;
      align-items: center;
      column-gap: px-to-rem(var(--spacing-s));

      .link {
        padding-inline: 0;
      }

      .separatorIcon {
        width: px-to-rem(var(--spacing-m));
        height: px-to-rem(var(--spacing-m));
      }
    }
  }
}
