@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/mediaqueries" as *;

.filterList {
  @include list-reset;

  --list-gap: var(--spacing-m);

  display: flex;
  gap: px-to-rem(var(--list-gap));
  flex-direction: var(--list-flex-direction, row);
  align-items: flex-start;

  @include mq($to: medium) {
    --list-flex-direction: column;
  }

  @include mq($from: medium) {
    --list-gap: var(--spacing-l);
  }

  .filterListItem {
    @include mq($to: small) {
      width: 100%;
    }
  }
}
