@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/mixins/mixins-shared-styles" as *;

.publicationsOverview {
  row-gap: px-to-rem(var(--section-inside-m));

  .publicationsList {
    @include publication-list;
  }
}
