@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/mediaqueries" as *;

.publicationsList {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: px-to-rem(var(--grid-gutter));
  background: orange;

  @include mq($from: medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    background: lime;
  }
}

.notification {
  // TODO, we might move this to the section definition?
  margin-block-end: px-to-rem(var(--section-inside-m));
}

.pagination {
  @include mq($from: large) {
    margin-block-start: px-to-rem(var(--section-inside-m));
  }
}
