@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/mediaqueries" as *;

.footer {
  // Some magic numbers 🤷‍♀️
  $navWrapperSpacing: 56;
  $contactMaxWidthWide: 420;
  $contactMaxWidthUltra: 700;
  $socialLinksNegativeSpacing: -14;

  background-color: var(--background-inverted);
  padding-block: px-to-rem(var(--spacing-4xl));
  padding-inline: px-to-rem(var(--spacing-l));

  @include mq($from: large) {
    padding-inline: px-to-rem(var(--spacing-xl));
  }

  @include mq($from: wide) {
    padding-inline: px-to-rem(var(--spacing-2xl));
  }

  .navWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: px-to-rem(var(--spacing-2xl));
    border-bottom: px-to-rem(var(--border-width-s)) solid var(--border-weak-inverted);
    padding-block-end: px-to-rem($navWrapperSpacing);
    margin-block-end: px-to-rem($navWrapperSpacing);

    @include mq($from: wide) {
      padding-block-end: px-to-rem(var(--spacing-4xl));
      margin-block-end: px-to-rem(var(--spacing-2xl));
      row-gap: px-to-rem(var(--spacing-2xl));
    }

    @include mq($from: ultra) {
      column-gap: px-to-rem(var(--spacing-6xl));
    }

    .contact {
      flex: 100% 0 0;
      flex-wrap: nowrap;
      margin-block-end: px-to-rem(var(--spacing-2xl));

      @include mq($from: wide) {
        flex: px-to-rem($contactMaxWidthWide) 0 1;
        margin-block-end: 0;
      }

      @include mq($from: ultra) {
        flex-basis: px-to-rem($contactMaxWidthUltra);
      }
    }

    .navigation {
      flex: 1;
    }
  }

  // meta: non-grid specific styling
  .meta {
    .legal {
      justify-content: unset;

      @include mq($from: large) {
        margin: px-to-rem(var(--spacing-m)) 0 0;
      }
    }

    .metanav {
      justify-content: unset;
    }

    .copyright {
      @include body-text-s;

      color: var(--text-secondary-inverted);
      margin: px-to-rem(var(--spacing-2xl)) 0 px-to-rem(var(--spacing-s));

      @include mq($from: large) {
        margin: px-to-rem(var(--spacing-m)) 0 0;
      }
    }

    .socialLinks {
      margin-inline-start: px-to-rem($socialLinksNegativeSpacing);

      @include mq($from: large) {
        margin: px-to-rem(var(--spacing-m)) px-to-rem($socialLinksNegativeSpacing) 0;
      }
    }
  }

  // meta: grid specific styling
  .meta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    column-gap: px-to-rem(var(--spacing-2xl));
    row-gap: 0;
    align-items: center;

    @include mq($from: large) {
      grid-template-columns: auto auto;
      grid-template-rows: repeat(2, 1fr);
    }

    .legal {
      grid-area: 2 / 1 / 3 / 2;

      @include mq($from: large) {
        grid-area: 1 / 1 / 2 / 3;
      }
    }

    .metanav {
      grid-area: 1 / 1 / 2 / 2;

      @include mq($from: large) {
        grid-area: 1 / 3 / 2 / 5;
        justify-content: flex-end;
      }
    }

    .copyright {
      grid-area: 3 / 1 / 4 / 2;

      @include mq($from: large) {
        grid-area: 2 / 1 / 3 / 3;
      }
    }

    .socialLinks {
      grid-area: 4 / 1 / 5 / 2;

      @include mq($from: large) {
        grid-area: 2 / 3 / 3 / 5;
        justify-content: flex-end;
      }
    }
  }
}

// meta: grid specific styling overrides for fg
.footer.fg .meta {
  grid-template-rows: auto auto auto auto auto;

  .footerLogo {
    grid-area: 1 / 1 / 2 / 2;
    margin-block-end: px-to-rem(var(--spacing-l));
  }

  .metanav {
    grid-area: 2 / 1 / 3 / 2;
  }

  .legal {
    grid-area: 3 / 1 / 4 / 2;
  }

  .copyright {
    grid-area: 4 / 1 / 5 / 2;
  }

  .socialLinks {
    grid-area: 5 / 1 / 6 / 2;
  }

  @include mq($from: large) {
    grid-template-columns: auto auto auto auto auto auto;

    .footerLogo {
      grid-area: 1 / 1 / 2 / 4;
    }

    .metanav {
      grid-area: 1 / 4 / 2 / 7;
    }

    .legal {
      grid-area: 2 / 1 / 3 / 3;
    }

    .copyright {
      grid-area: 2 / 3 / 3 / 5;
    }

    .socialLinks {
      grid-area: 2 / 5 / 3 / 7;
    }
  }
}
