.sb-show-main {
  transition: none !important;
}

/* Set sticky offset top 0 for
 storybook preview */
.sb-show-main {
  --sticky-offset-top: 0;
}

html.no-js {
  --initial-image-opacity: 0;
}

/*
We have to set the header background-color for
the header a11y tests. Header has no default
background-color since it will receive it from
the hero component. To make the a11y tests still
work though, we have to set the background-color
here. */
header[class*='dark']:before {
  background-color: var(--background-inverted);
}

header[class*='light']:before {
  background-color: var(--background-light);
}
