@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/mediaqueries" as *;

.paginationItem {
  @include button-text;
  @include button-reset;

  // --pagination-item-size is also defined in Pagination.module.scss
  // the reason being that we need to get the values of this scss variable
  // via ref in useEffect hook. Since the ref points to the Pagination module,
  // we need to keep it there.
  // but: we should keep it here so that we can visually test the
  // Pagination Item
  --pagination-item-size: 56;

  @include mq($from: medium) {
    --pagination-item-size: 64;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: px-to-rem(var(--pagination-item-size));
  height: px-to-rem(var(--pagination-item-size));
  color: var(--interaction-primary);

  &.number {
    cursor: pointer;
    border: px-to-rem((var(--border-width-m))) solid var(--border-weak);

    &.active {
      border-color: var(--border-primary);
      cursor: default;

      @include forced-colors {
        border-color: LinkText;
      }
    }
  }

  &:focus-visible {
    @include focus-visible;

    outline-offset: px-to-rem(calc(var(--spacing-2xs) / 2));
  }
}
