@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/utilities" as *;

.logo {
  display: block;
  height: px-to-rem(48);

  svg {
    height: 100%;
    width: auto;
  }
}

.logo.dark {
  .monochrome-logo,
  .multicolor-logo .text {
    path {
      fill: rgb(var(--white));

      @include forced-colors {
        fill: CanvasText;
      }
    }

    g[clip-path] path[stroke] {
      fill: none;
      stroke: rgb(var(--white));

      @include forced-colors {
        stroke: CanvasText;
      }
    }
  }
}

.logo.light,
.logo.white {
  .monochrome-logo {
    & > path {
      fill: rgb(var(--black));

      @include forced-colors {
        fill: CanvasText;
      }
    }

    g[clip-path] path[stroke] {
      fill: none;
    }
  }
}

.monochrome-logo,
.multicolor-logo {
  background: none;

  @include forced-colors {
    g[clip-path] path[stroke] {
      stroke: CanvasText;
    }

    g[clip-path],
    g[mask] {
      path {
        fill: CanvasText;
      }
    }
  }
}

.multicolor-logo {
  .dark & {
    .signet,
    .text {
      path,
      polygon {
        fill: rgb(var(--white));
      }
    }

    .signet-accent-color {
      path {
        opacity: 0.6;
      }
    }

    .signet-text-inverted {
      path {
        fill: var(--background-inverted);
      }
    }
  }

  @include forced-colors {
    .dark &,
    .light &,
    .white & {
      .signet-accent-color {
        path {
          opacity: 0.6;
        }
      }

      mask,
      .signet,
      .text {
        path,
        polygon {
          fill: CanvasText;
        }
      }

      .signet-text-inverted {
        path {
          fill: canvas;
        }
      }
    }
  }
}

.multicolor-logo--sagw {
  .white & {
    .signet {
      path {
        fill: rgb(var(--black));
      }
    }
  }

  .light &,
  .white & {
    .signet {
      path {
        @include forced-colors {
          fill: CanvasText;
        }
      }
    }
  }
}
