.logo {
  display: block;
}

.logo.sagw {
  path {
    stroke: none;
  }

  &.dark {
    path {
      fill: var(--white);
    }
  }

  &.white,
  &.light {
    path {
      fill: var(--black);
    }
  }
}
