@use "../../../styles/utilities/functions" as *;

.logo {
  display: block;
  height: px-to-rem(48);

  svg {
    height: 100%;
    width: auto;
  }
}

.logo.sagw {
  path {
    stroke: none;
  }

  &.dark {
    path {
      fill: rgb(var(--white));
    }
  }

  &.white,
  &.light {
    path {
      fill: rgb(var(--black));
    }
  }
}
