@use "../../styles/global" as *;

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  scroll-padding-block-start: px-to-rem(var(--hero-padding-block-start) + var(--spacing-xl));
}

html.no-js figure > div:first-child img {
  display: none;
}

body {
  @include body-text-s;

  font-size: var(--font-size-base);
  background: var(--background-page);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.home {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: px-to-rem(var(--body-text-s-size));

    h1 {
      text-align: center;
    }
  }
}

// Adding divider lines or reducing block padding start
// for consecutive sections
div:has(section[class*="dark"]) + div:has(section[class*="dark"]),
div:has(section[class*="light"]) + div:has(section[class*="light"]) {
  section {
    padding-block-start: 0;
  }
}
