@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;

.infoBlock {
  --color-title: var(--text-primary-inverted);
  --color-text: var(--text-secondary-inverted);

  &.light,
  &.white {
    --color-title: var(--text-primary);
    --color-text: var(--interaction-primary);
  }

  margin-block-end: px-to-rem(var(--spacing-l));
  margin-inline-end: px-to-rem(var(--spacing-2xl));

  .title {
    @include title-heading-4;

    color: var(--color-title);
    margin: 0 0 px-to-rem(var(--spacing-xs));
  }

  .text {
    @include body-text-m;

    color: var(--color-text);
    margin: 0;
  }
}
