@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/utilities" as *;

.infoBlock {
  --color-title: var(--text-primary-inverted);
  --color-text: var(--text-secondary-inverted);

  &.light,
  &.white {
    --color-title: var(--text-primary);
    --color-text: var(--interaction-primary);
  }

  margin-block-end: px-to-rem(var(--spacing-l));
  margin-inline-end: px-to-rem(var(--spacing-2xl));
  animation: fade-in var(--motion-speed-medium) var(--motion-ease-in-out);

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @include reduced-motion {
    animation: none;
    opacity: 1;
  }

  .title {
    @include title-heading-4;

    color: var(--color-title);
    margin: 0 0 px-to-rem(var(--spacing-xs));
  }

  .text {
    @include body-text-m;

    color: var(--color-text);
    margin: 0;
  }
}
