@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/animations" as *;
@use "../../../styles/utilities/mediaqueries" as *;

.list {
  @include list-reset;

  @include mq($from: large) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: px-to-rem(calc(2 * var(--spacing-m)));
    width: 100%;
  }
}

.nav.footer .list {
  align-items: flex-start;

  .item {
    flex: 1 1 0;
  }
}
