@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/mediaqueries" as *;

.list {
  @include list-reset;

  margin-block-start: px-to-rem(var(--spacing-2xl));

  @include mq($from: large) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-block-start: 0;
  }

  li:before {
    contain: strict;
    inset-block-start: px-to-rem(-1);
    inset-inline-start: px-to-rem(-1);
  }

  > li:last-of-type [data-submenu] {
    @include mq($from: large, $to: wide) {
      max-width: 200%;
    }
  }
}

.nav.footer .list {
  align-items: baseline;

  .item {
    flex: 1 1 0;
  }

  @include mq($from: large) {
    column-gap: px-to-rem(calc(var(--grid-gutter) * 0.75));

    > li {
      flex: 1 1 calc(25% - px-to-rem(calc(var(--grid-gutter) * 0.25)));
    }
  }
}
