@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;

.formBlock {
  &.dark {
    background-color: var(--background-cta);

    .title {
      color: var(--text-primary-inverted);
    }

    .subtitle {
      color: var(--text-secondary-inverted);
    }
  }

  .title {
    @include title-heading-3;

    color: var(--text-primary);
  }

  .subtitle {
    @include body-text-xl;

    color: var(--text-secondary);
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    column-gap: px-to-rem(var(--grid-gutter));
    row-gap: px-to-rem(var(--section-inside-s));
    width: 100%;
  }

  .field {
    &.half {
      flex-basis: calc(50% - #{px-to-rem(var(--grid-gutter)) / 2});
    }

    &.full {
      flex-basis: 100%;
    }
  }
}
