@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/mixins/mixins-layout" as *;
@use "../../../styles/mixins/mixins-typo" as *;

.formBlock {
  @include block-layout-sticky-title("flex");
  @include generic-block-padding;

  background-color: var(--background-color);

  &.dark {
    --background-color: var(--background-cta);

    .title {
      color: var(--text-primary-inverted);
    }

    .subtitle {
      color: var(--text-secondary-inverted);
    }
  }

  &:not(.dark) {
    position: relative;

    .line {
      @include generic-block-top-line("flex");
    }
  }

  &.light {
    --background-color: var(--background-light);
  }

  .title {
    @include title-heading-3;

    color: var(--text-primary);
  }

  .subtitle {
    @include body-text-xl;

    margin-block: 0;
    color: var(--text-secondary);
  }

  .contentColumn {
    display: flex;
    flex-direction: column;
    row-gap: px-to-rem(var(--section-inside-s));
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    column-gap: px-to-rem(var(--grid-gutter));
    row-gap: px-to-rem(var(--form-elements-between));
    width: 100%;
  }

  .field {
    &.half {
      flex-basis: 100%;

      @include mq($from: medium) {
        flex-basis: calc(50% - #{px-to-rem(var(--grid-gutter)) / 2});
      }
    }

    &.full {
      flex-basis: 100%;
    }
  }
}
