@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/mixins/mixins-layout" as *;
@use "../../../styles/mixins/mixins-typo" as *;

.formBlock {
  background-color: var(--background-color);

  &.dark {
    --background-color: var(--background-cta);

    .subtitle {
      color: var(--text-secondary-inverted);
    }
  }

  &.light {
    --background-color: var(--background-light);
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    column-gap: px-to-rem(var(--grid-gutter));
    row-gap: px-to-rem(var(--form-elements-between));
    width: 100%;
  }

  .field {
    &.half {
      flex-basis: 100%;

      @include mq($from: medium) {
        flex-basis: calc(50% - #{px-to-rem(var(--grid-gutter)) / 2});
      }
    }

    &.full {
      flex-basis: 100%;
    }
  }
}
