@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/utilities" as *;

.pagination {
  --pagination-gap: 24;
  --pagination-item-size: 56;

  @include mq($from: medium) {
    --pagination-gap: 32;
    --pagination-item-size: 64;
  }

  .hiddenTitle {
    @include screen-reader-only;
  }

  .list {
    @include list-reset;

    display: flex;
    flex-wrap: wrap;
    gap: px-to-rem(var(--pagination-gap));
  }
}
