@mixin theme-variables($themeName) {
  @if $themeName == "sagw" {
    --background-cta: var(--secondary-blue-comp-1);
    --background-inverted: var(--primary-blue-dark);
    --background-light: var(--primary-blue-light);
    --border-primary: var(--primary-blue-dark);
    --border-secondary-inverted: var(--primary-blue-light);
    --border-weak: var(--primary-blue-light);
    --border-weak-inverted: var(--secondary-blue-comp-1);
    --brand-primary: var(--primary-blue-dark);
    --brand-secondary: var(--primary-blue-light);
    --icon-primary: var(--primary-blue-dark);
    --icon-secondary-inverted: var(--primary-blue-light);
    --interaction-primary: var(--primary-blue-dark);
    --interaction-primary-active: var(--primary-blue-dark);
    --interaction-primary-hover: var(--secondary-blue-comp-1);
    --interaction-primary-inverted: var(--primary-blue-light);
    --interaction-primary-inverted-active: var(--primary-blue-light);
    --interaction-secondary: var(--secondary-red-2);
    --interaction-secondary-hover: #b53f46;
    --interaction-secondary-inverted: var(--primary-blue-light);
    --text-secondary-inverted: var(--primary-blue-light);
  } @else if $themeName == "amber" {
    --background-cta: var(--amber-900);
    --background-inverted: var(--amber-990);
    --background-light: var(--amber-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--amber-900);
    --brand-secondary: var(--amber-100);
    --icon-primary: var(--amber-800);
    --icon-secondary-inverted: var(--amber-100);
    --interaction-primary: var(--amber-900);
    --interaction-primary-active: var(--amber-900);
    --interaction-primary-hover: var(--amber-800);
    --interaction-primary-inverted: var(--amber-100);
    --interaction-primary-inverted-active: var(--amber-100);
    --interaction-secondary: var(--amber-800);
    --interaction-secondary-hover: var(--amber-700);
    --interaction-secondary-inverted: var(--amber-100);
    --text-secondary-inverted: var(--amber-100);
  } @else if $themeName == "blue" {
    --background-cta: var(--blue-900);
    --background-inverted: var(--blue-990);
    --background-light: var(--blue-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--blue-900);
    --brand-secondary: var(--blue-100);
    --icon-primary: var(--blue-800);
    --icon-secondary-inverted: var(--blue-100);
    --interaction-primary: var(--blue-900);
    --interaction-primary-active: var(--blue-900);
    --interaction-primary-hover: var(--blue-800);
    --interaction-primary-inverted: var(--blue-100);
    --interaction-primary-inverted-active: var(--blue-100);
    --interaction-secondary: var(--blue-800);
    --interaction-secondary-hover: var(--blue-700);
    --interaction-secondary-inverted: var(--blue-100);
    --text-secondary-inverted: var(--blue-100);
  } @else if $themeName == "cyan" {
    --background-cta: var(--cyan-900);
    --background-inverted: var(--cyan-990);
    --background-light: var(--cyan-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--cyan-900);
    --brand-secondary: var(--cyan-100);
    --icon-primary: var(--cyan-800);
    --icon-secondary-inverted: var(--cyan-100);
    --interaction-primary: var(--cyan-900);
    --interaction-primary-active: var(--cyan-900);
    --interaction-primary-hover: var(--cyan-800);
    --interaction-primary-inverted: var(--cyan-100);
    --interaction-primary-inverted-active: var(--cyan-100);
    --interaction-secondary: var(--cyan-800);
    --interaction-secondary-hover: var(--cyan-700);
    --interaction-secondary-inverted: var(--cyan-100);
    --text-secondary-inverted: var(--cyan-100);
  } @else if $themeName == "emerald" {
    --background-cta: var(--emerald-900);
    --background-inverted: var(--emerald-990);
    --background-light: var(--emerald-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--emerald-900);
    --brand-secondary: var(--emerald-100);
    --icon-primary: var(--emerald-800);
    --icon-secondary-inverted: var(--emerald-100);
    --interaction-primary: var(--emerald-900);
    --interaction-primary-active: var(--emerald-900);
    --interaction-primary-hover: var(--emerald-800);
    --interaction-primary-inverted: var(--emerald-100);
    --interaction-primary-inverted-active: var(--emerald-100);
    --interaction-secondary: var(--emerald-800);
    --interaction-secondary-hover: var(--emerald-700);
    --interaction-secondary-inverted: var(--emerald-100);
    --text-secondary-inverted: var(--emerald-100);
  } @else if $themeName == "fuchsia" {
    --background-cta: var(--fuchsia-900);
    --background-inverted: var(--fuchsia-990);
    --background-light: var(--fuchsia-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--fuchsia-900);
    --brand-secondary: var(--fuchsia-100);
    --icon-primary: var(--fuchsia-800);
    --icon-secondary-inverted: var(--fuchsia-100);
    --interaction-primary: var(--fuchsia-900);
    --interaction-primary-active: var(--fuchsia-900);
    --interaction-primary-hover: var(--fuchsia-800);
    --interaction-primary-inverted: var(--fuchsia-100);
    --interaction-primary-inverted-active: var(--fuchsia-100);
    --interaction-secondary: var(--fuchsia-800);
    --interaction-secondary-hover: var(--fuchsia-700);
    --interaction-secondary-inverted: var(--fuchsia-100);
    --text-secondary-inverted: var(--fuchsia-100);
  } @else if $themeName == "gray" {
    --background-cta: var(--gray-900);
    --background-inverted: var(--gray-990);
    --background-light: var(--gray-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--gray-900);
    --brand-secondary: var(--gray-100);
    --icon-primary: var(--gray-800);
    --icon-secondary-inverted: var(--gray-100);
    --interaction-primary: var(--gray-900);
    --interaction-primary-active: var(--gray-900);
    --interaction-primary-hover: var(--gray-800);
    --interaction-primary-inverted: var(--gray-100);
    --interaction-primary-inverted-active: var(--gray-100);
    --interaction-secondary: var(--gray-800);
    --interaction-secondary-hover: var(--gray-700);
    --interaction-secondary-inverted: var(--gray-100);
    --text-secondary-inverted: var(--gray-100);
  } @else if $themeName == "green" {
    --background-cta: var(--green-900);
    --background-inverted: var(--green-990);
    --background-light: var(--green-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--green-900);
    --brand-secondary: var(--green-100);
    --icon-primary: var(--green-800);
    --icon-secondary-inverted: var(--green-100);
    --interaction-primary: var(--green-900);
    --interaction-primary-active: var(--green-900);
    --interaction-primary-hover: var(--green-800);
    --interaction-primary-inverted: var(--green-100);
    --interaction-primary-inverted-active: var(--green-100);
    --interaction-secondary: var(--green-800);
    --interaction-secondary-hover: var(--green-700);
    --interaction-secondary-inverted: var(--green-100);
    --text-quote: var(--green-800);
    --text-secondary-inverted: var(--green-100);
  } @else if $themeName == "indigo" {
    --background-cta: var(--indigo-900);
    --background-inverted: var(--indigo-990);
    --background-light: var(--indigo-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--indigo-900);
    --brand-secondary: var(--indigo-100);
    --icon-primary: var(--indigo-800);
    --icon-secondary-inverted: var(--indigo-100);
    --interaction-primary: var(--indigo-900);
    --interaction-primary-active: var(--indigo-900);
    --interaction-primary-hover: var(--indigo-800);
    --interaction-primary-inverted: var(--indigo-100);
    --interaction-primary-inverted-active: var(--indigo-100);
    --interaction-secondary: var(--indigo-800);
    --interaction-secondary-hover: var(--indigo-700);
    --interaction-secondary-inverted: var(--indigo-100);
    --text-secondary-inverted: var(--indigo-100);
  } @else if $themeName == "lime" {
    --background-cta: var(--lime-900);
    --background-inverted: var(--lime-990);
    --background-light: var(--lime-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--lime-900);
    --brand-secondary: var(--lime-100);
    --icon-primary: var(--lime-800);
    --icon-secondary-inverted: var(--lime-100);
    --interaction-primary: var(--lime-900);
    --interaction-primary-active: var(--lime-900);
    --interaction-primary-hover: var(--lime-800);
    --interaction-primary-inverted: var(--lime-100);
    --interaction-primary-inverted-active: var(--lime-100);
    --interaction-secondary: var(--lime-800);
    --interaction-secondary-hover: var(--lime-700);
    --interaction-secondary-inverted: var(--lime-100);
    --text-secondary-inverted: var(--lime-100);
  } @else if $themeName == "neutral" {
    --background-cta: var(--neutral-900);
    --background-inverted: var(--neutral-990);
    --background-light: var(--neutral-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--neutral-900);
    --brand-secondary: var(--neutral-100);
    --icon-primary: var(--neutral-800);
    --icon-secondary-inverted: var(--neutral-100);
    --interaction-primary: var(--neutral-900);
    --interaction-primary-active: var(--neutral-900);
    --interaction-primary-hover: var(--neutral-800);
    --interaction-primary-inverted: var(--neutral-100);
    --interaction-primary-inverted-active: var(--neutral-100);
    --interaction-secondary: var(--neutral-800);
    --interaction-secondary-hover: var(--neutral-700);
    --interaction-secondary-inverted: var(--neutral-100);
    --text-secondary-inverted: var(--neutral-100);
  } @else if $themeName == "orange" {
    --background-cta: var(--orange-900);
    --background-inverted: var(--orange-990);
    --background-light: var(--orange-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--orange-900);
    --brand-secondary: var(--orange-100);
    --icon-primary: var(--orange-800);
    --icon-secondary-inverted: var(--orange-100);
    --interaction-primary: var(--orange-900);
    --interaction-primary-active: var(--orange-900);
    --interaction-primary-hover: var(--orange-800);
    --interaction-primary-inverted: var(--orange-100);
    --interaction-primary-inverted-active: var(--orange-100);
    --interaction-secondary: var(--orange-800);
    --interaction-secondary-hover: var(--orange-700);
    --interaction-secondary-inverted: var(--orange-100);
    --text-secondary-inverted: var(--orange-100);
  } @else if $themeName == "pink" {
    --background-cta: var(--pink-900);
    --background-inverted: var(--pink-990);
    --background-light: var(--pink-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--pink-900);
    --brand-secondary: var(--pink-100);
    --icon-primary: var(--pink-800);
    --icon-secondary-inverted: var(--pink-100);
    --interaction-primary: var(--pink-900);
    --interaction-primary-active: var(--pink-900);
    --interaction-primary-hover: var(--pink-800);
    --interaction-primary-inverted: var(--pink-100);
    --interaction-primary-inverted-active: var(--pink-100);
    --interaction-secondary: var(--pink-800);
    --interaction-secondary-hover: var(--pink-700);
    --interaction-secondary-inverted: var(--pink-100);
    --text-secondary-inverted: var(--pink-100);
  } @else if $themeName == "purple" {
    --background-cta: var(--purple-900);
    --background-inverted: var(--purple-990);
    --background-light: var(--purple-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--purple-900);
    --brand-secondary: var(--purple-100);
    --icon-primary: var(--purple-800);
    --icon-secondary-inverted: var(--purple-100);
    --interaction-primary: var(--purple-900);
    --interaction-primary-active: var(--purple-900);
    --interaction-primary-hover: var(--purple-800);
    --interaction-primary-inverted: var(--purple-100);
    --interaction-primary-inverted-active: var(--purple-100);
    --interaction-secondary: var(--purple-800);
    --interaction-secondary-hover: var(--purple-700);
    --interaction-secondary-inverted: var(--purple-100);
    --text-secondary-inverted: var(--purple-100);
  } @else if $themeName == "red" {
    --background-cta: var(--red-900);
    --background-inverted: var(--red-990);
    --background-light: var(--red-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--red-900);
    --brand-secondary: var(--red-100);
    --icon-primary: var(--red-800);
    --icon-secondary-inverted: var(--red-100);
    --interaction-primary: var(--red-900);
    --interaction-primary-active: var(--red-900);
    --interaction-primary-hover: var(--red-800);
    --interaction-primary-inverted: var(--red-100);
    --interaction-primary-inverted-active: var(--red-100);
    --interaction-secondary: var(--red-800);
    --interaction-secondary-hover: var(--red-700);
    --interaction-secondary-inverted: var(--red-100);
    --text-secondary-inverted: var(--red-100);
  } @else if $themeName == "rose" {
    --background-cta: var(--rose-900);
    --background-inverted: var(--rose-990);
    --background-light: var(--rose-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--rose-900);
    --brand-secondary: var(--rose-100);
    --icon-primary: var(--rose-800);
    --icon-secondary-inverted: var(--rose-100);
    --interaction-primary: var(--rose-900);
    --interaction-primary-active: var(--rose-900);
    --interaction-primary-hover: var(--rose-800);
    --interaction-primary-inverted: var(--rose-100);
    --interaction-primary-inverted-active: var(--rose-100);
    --interaction-secondary: var(--rose-800);
    --interaction-secondary-hover: var(--rose-700);
    --interaction-secondary-inverted: var(--rose-100);
    --text-secondary-inverted: var(--rose-100);
  } @else if $themeName == "sky" {
    --background-cta: var(--sky-900);
    --background-inverted: var(--sky-990);
    --background-light: var(--sky-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--sky-900);
    --brand-secondary: var(--sky-100);
    --icon-primary: var(--sky-800);
    --icon-secondary-inverted: var(--sky-100);
    --interaction-primary: var(--sky-900);
    --interaction-primary-active: var(--sky-900);
    --interaction-primary-hover: var(--sky-800);
    --interaction-primary-inverted: var(--sky-100);
    --interaction-primary-inverted-active: var(--sky-100);
    --interaction-secondary: var(--sky-800);
    --interaction-secondary-hover: var(--sky-700);
    --interaction-secondary-inverted: var(--sky-100);
    --text-quote: var(--sky-800);
    --text-secondary-inverted: var(--sky-100);
  } @else if $themeName == "slate" {
    --background-cta: var(--slate-900);
    --background-inverted: var(--slate-990);
    --background-light: var(--slate-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--slate-900);
    --brand-secondary: var(--slate-100);
    --icon-primary: var(--slate-800);
    --icon-secondary-inverted: var(--slate-100);
    --interaction-primary: var(--slate-900);
    --interaction-primary-active: var(--slate-900);
    --interaction-primary-hover: var(--slate-800);
    --interaction-primary-inverted: var(--slate-100);
    --interaction-primary-inverted-active: var(--slate-100);
    --interaction-secondary: var(--slate-800);
    --interaction-secondary-hover: var(--slate-700);
    --interaction-secondary-inverted: var(--slate-100);
    --text-secondary-inverted: var(--slate-100);
  } @else if $themeName == "stone" {
    --background-cta: var(--stone-900);
    --background-inverted: var(--stone-990);
    --background-light: var(--stone-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--stone-900);
    --brand-secondary: var(--stone-100);
    --icon-primary: var(--stone-800);
    --icon-secondary-inverted: var(--stone-100);
    --interaction-primary: var(--stone-900);
    --interaction-primary-active: var(--stone-900);
    --interaction-primary-hover: var(--stone-800);
    --interaction-primary-inverted: var(--stone-100);
    --interaction-primary-inverted-active: var(--stone-100);
    --interaction-secondary: var(--stone-800);
    --interaction-secondary-hover: var(--stone-700);
    --interaction-secondary-inverted: var(--stone-100);
    --text-secondary-inverted: var(--stone-100);
  } @else if $themeName == "teal" {
    --background-cta: var(--teal-900);
    --background-inverted: var(--teal-990);
    --background-light: var(--teal-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--teal-900);
    --brand-secondary: var(--teal-100);
    --icon-primary: var(--teal-800);
    --icon-secondary-inverted: var(--teal-100);
    --interaction-primary: var(--teal-900);
    --interaction-primary-active: var(--teal-900);
    --interaction-primary-hover: var(--teal-800);
    --interaction-primary-inverted: var(--teal-100);
    --interaction-primary-inverted-active: var(--teal-100);
    --interaction-secondary: var(--teal-800);
    --interaction-secondary-hover: var(--teal-700);
    --interaction-secondary-inverted: var(--teal-100);
    --text-secondary-inverted: var(--teal-100);
  } @else if $themeName == "violet" {
    --background-cta: var(--violet-900);
    --background-inverted: var(--violet-990);
    --background-light: var(--violet-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--violet-900);
    --brand-secondary: var(--violet-100);
    --icon-primary: var(--violet-800);
    --icon-secondary-inverted: var(--violet-100);
    --interaction-primary: var(--violet-900);
    --interaction-primary-active: var(--violet-900);
    --interaction-primary-hover: var(--violet-800);
    --interaction-primary-inverted: var(--violet-100);
    --interaction-primary-inverted-active: var(--violet-100);
    --interaction-secondary: var(--violet-800);
    --interaction-secondary-hover: var(--violet-700);
    --interaction-secondary-inverted: var(--violet-100);
    --text-secondary-inverted: var(--violet-100);
  } @else if $themeName == "yellow" {
    --background-cta: var(--yellow-900);
    --background-inverted: var(--yellow-990);
    --background-light: var(--yellow-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--yellow-900);
    --brand-secondary: var(--yellow-100);
    --icon-primary: var(--yellow-800);
    --icon-secondary-inverted: var(--yellow-100);
    --interaction-primary: var(--yellow-900);
    --interaction-primary-active: var(--yellow-900);
    --interaction-primary-hover: var(--yellow-800);
    --interaction-primary-inverted: var(--yellow-100);
    --interaction-primary-inverted-active: var(--yellow-100);
    --interaction-secondary: var(--yellow-800);
    --interaction-secondary-hover: var(--yellow-700);
    --interaction-secondary-inverted: var(--yellow-100);
    --text-secondary-inverted: var(--yellow-100);
  } @else if $themeName == "zinc" {
    --background-cta: var(--zinc-900);
    --background-inverted: var(--zinc-990);
    --background-light: var(--zinc-100);
    --border-primary: rgb(var(--black) / 4%);
    --border-primary-inverted: rgb(var(--white) / 16%);
    --border-secondary: rgb(var(--black) / 4%);
    --border-secondary-inverted: rgb(var(--white) / 16%);
    --border-weak: rgb(var(--black) / 4%);
    --border-weak-inverted: rgb(var(--white) / 16%);
    --brand-primary: var(--zinc-900);
    --brand-secondary: var(--zinc-100);
    --icon-primary: var(--zinc-800);
    --icon-secondary-inverted: var(--zinc-100);
    --interaction-primary: var(--zinc-900);
    --interaction-primary-active: var(--zinc-900);
    --interaction-primary-hover: var(--zinc-800);
    --interaction-primary-inverted: var(--zinc-100);
    --interaction-primary-inverted-active: var(--zinc-100);
    --interaction-secondary: var(--zinc-800);
    --interaction-secondary-hover: var(--zinc-700);
    --interaction-secondary-inverted: var(--zinc-100);
    --text-secondary-inverted: var(--zinc-100);
  }
}
