@use "../utilities/functions" as *;
@use "./mixins-typo" as *;
@use "../utilities/utilities" as *;
@use "../utilities/mediaqueries" as *;

// ##############################
// RTE
// ##############################
@mixin inline-svg {
  svg {
    display: inline-block;
    width: px-to-rem(var(--spacing-l));
    height: px-to-rem(var(--spacing-l));
    stroke: var(--interaction-secondary);
    margin-block-start: px-to-rem(-3);
    margin-block-end: px-to-rem(-4);
    margin-inline-start: px-to-rem(var(--spacing-2xs));

    @include mq($to: large) {
      margin-block-end: px-to-rem(-5);
    }
  }
}

// ##############################
// Publication list
// ##############################
@mixin publication-list {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: px-to-rem(var(--grid-gutter));

  @include mq($from: medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq($from: large, $to: wide) {
    grid-template-columns: repeat(1, 1fr);
  }
}
