@use "./mixins-layout" as *;
@use "./mixins-typo" as *;
@use "./mixins-shared-styles" as *;
@use "../utilities/mediaqueries" as *;
@use "../utilities/functions" as *;
@use "../utilities/utilities" as *;

@mixin rte-text {
  @include body-text-m;

  // Headings
  // --------
  h2 {
    @include title-heading-3;

    margin-block-end: px-to-rem(var(--section-inside-s));

    & + h3 {
      margin-block-start: px-to-rem(var(--spacing-m), true);
    }
  }

  h3 {
    @include title-heading-4;

    margin-block-start: px-to-rem(var(--inside-elements-l));
    margin-block-end: px-to-rem(var(--inside-elements-m));

    & + h4,
    & + h5 {
      margin-block-start: px-to-rem(var(--inside-elements-2xs));
    }
  }

  h4,
  h5 {
    @include title-heading-5;

    margin-block-start: px-to-rem(var(--inside-elements-l));
    margin-block-end: px-to-rem(var(--inside-elements-m));

    & + ul,
    & + ol {
      margin-block-start: px-to-rem(var(--spacing-xs), true);
    }

    & + p {
      margin-block-start: px-to-rem(var(--spacing-2xs), true);
    }
  }

  h5 {
    font-weight: bold;
  }

  // Paragraph
  // --------
  p {
    margin-block-start: 0;
    margin-block-end: px-to-rem(var(--spacing-l));
  }

  // Lists
  // --------
  ul,
  ol {
    margin-block: 0;
    padding-inline-start: px-to-rem(40);

    &:not(:last-child) {
      margin-block-end: px-to-rem(var(--inside-elements-m));
    }

    li {
      margin-block: px-to-rem(var(--spacing-2xs));
    }
  }

  ul {
    li {
      list-style-type: square;
    }
  }

  // Link
  // --------
  a {
    @include link-text-underline;
    @include inline-svg;

    display: inline;
    color: var(--link-color, --interaction-primary);

    &:focus,
    &:hover {
      color: var(--link-color-focus-hover, --interaction-primary-hover);
    }
  }

  // TODO eventually move to a different place
  // later?
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  p {
    &:last-child {
      margin-block-end: 0;
    }

    &:empty {
      display: none;
    }
  }
}
