@use "../utilities/functions" as *;
@use "../utilities/utilities" as *;

// Typo mixins
@mixin body-text-s {
  font-family: var(--font-family-text);
  font-size: px-to-rem(var(--body-text-s-size));
  line-height: var(--body-text-s-line-height);
  font-weight: var(--font-weight-normal);
}

@mixin body-text-m {
  font-family: var(--font-family-text);
  font-size: px-to-rem(var(--body-text-m-size));
  line-height: var(--body-text-m-line-height);
}

@mixin body-text-l {
  font-family: var(--font-family-display);
  font-size: px-to-rem(var(--body-text-l-size));
}

@mixin body-text-xl {
  font-family: var(--font-family-display);
  font-size: px-to-rem(var(--body-text-xl-size));
  letter-spacing: 0.009rem;
  line-height: 1.4;
}

@mixin body-text-2xl {
  font-family: var(--font-family-display);
  font-size: px-to-rem(var(--body-text-2xl-size));
  letter-spacing: 0.009rem;
  line-height: 1.2;
}

@mixin body-text-lead {
  font-family: var(--font-family-display);
  font-size: px-to-rem(var(--body-text-lead-size));
  letter-spacing: 0.009rem;
  line-height: 1.4;
}

@mixin button-text {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-medium);
  font-size: px-to-rem(var(--button-text-size));
  letter-spacing: 0.009rem;
}

@mixin input-text {
  font-family: var(--font-family-text);
  font-size: px-to-rem(var(--input-text-size));
}

@mixin label-text {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-medium);
  font-size: px-to-rem(var(--label-text-size));
  line-height: 1.2;
}

@mixin label-text-large {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-medium);
  font-size: px-to-rem(var(--body-text-m-size));
  line-height: 1.2;
}

@mixin navigation-text {
  font-family: var(--font-family-text);
  font-size: px-to-rem(var(--navigation-text-size));
}

@mixin title-heading {
  @include font-smoothing;
  @include font-layout-features;

  font-family: var(--font-family-display);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.009rem;
  line-height: 1.1;
  margin: 0;
}

@mixin title-heading-1 {
  @include title-heading;

  font-size: px-to-rem(var(--title-heading-1-size));
}

@mixin title-heading-2 {
  @include title-heading;

  font-size: px-to-rem(var(--title-heading-2-size));
}

@mixin title-heading-3 {
  @include title-heading;

  font-size: px-to-rem(var(--title-heading-3-size));
  line-height: 1.2;
}

@mixin title-heading-4 {
  @include title-heading;

  font-size: px-to-rem(var(--title-heading-4-size));
  line-height: 1.2;
}

@mixin title-heading-5 {
  @include title-heading;

  font-size: px-to-rem(var(--title-heading-5-size));
  line-height: 1.2;
}

@mixin title-heading-article {
  @include title-heading;

  font-size: px-to-rem(var(--title-heading-article-size));
}

@mixin title-heading-section {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-medium);
  font-size: px-to-rem(var(--title-heading-section-size));
  line-height: 1.2;
  letter-spacing: 0.009rem;
}

@mixin link-text-underline {
  text-decoration: none;
  text-decoration-line: underline;
  text-underline-offset: px-to-rem(var(--spacing-2xs));
  text-decoration-thickness: px-to-rem(var(--border-width-l));
  text-decoration-color: currentcolor;
}

@mixin font-layout-features {
  font-feature-settings: "ss01" 1, "ss02" 1, "ss06" 1, "ss08" 1;
}
