@mixin animation-slide-line-in {
  animation:
    slide-line-in
    var(--animation-duration, var(--motion-speed-very-fast))
    var(--animation-timing-function, var(--motion-ease-in))
    var(--animation-delay, 0s)
    var(--animation-direction, forwards);
}

@mixin animation-slide-line-out {
  animation:
    slide-line-out
    var(--animation-duration, var(--motion-speed-very-fast))
    var(--animation-timing-function, var(--motion-ease-out))
    var(--animation-delay, 0s)
    var(--animation-direction, forwards);
}

@keyframes slide-line-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide-line-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}
