@use "../utilities/functions" as *;
@use "./mixins-typo" as *;
@use "../utilities/utilities" as *;
@use "../utilities/mediaqueries" as *;
@use "./mixins-layout" as *;

// ##############################
// RTE
// ##############################
@mixin inline-svg {
  svg {
    display: inline-block;
    width: px-to-rem(var(--spacing-l));
    height: px-to-rem(var(--spacing-l));
    stroke: var(--interaction-secondary);
    margin-block-start: px-to-rem(-3);
    margin-block-end: px-to-rem(-4);
    margin-inline-start: px-to-rem(var(--spacing-2xs));

    @include mq($to: large) {
      margin-block-end: px-to-rem(-5);
    }
  }
}

// ##############################
// BUTTON LINE ANIMATION
// ##############################
@mixin button-line-hover {
  transform-origin: left;
  transform: scaleX(1);
  opacity: 1;
}

// ##############################
// FULL BLEED TEASERS (e.g. magazine & generic)
// ##############################
@mixin full-bleed-teaser-list {
  @include list-reset;
  @include generic-block-padding;

  display: flex;
  flex-wrap: wrap;
  column-gap: px-to-rem(var(--spacing-2xl));
  row-gap: px-to-rem(var(--spacing-3xl));

  @include mq($from: medium) {
    column-gap: px-to-rem(var(--spacing-4xl));
    row-gap: px-to-rem(var(--spacing-4xl));
  }

  @include mq($from: large) {
    column-gap: px-to-rem(104);
    row-gap: px-to-rem(var(--spacing-5xl));
  }
}

@mixin full-bleed-teaser-item {
  width: 100%;

  @include mq($from: medium) {
    width: calc(50% - px-to-rem(var(--spacing-4xl)) / 2);
  }

  @include mq($from: large) {
    width: calc(33.33% - px-to-rem(104) * 2 / 3);
  }
}

@mixin full-bleed-teaser-list-ultra {
  @include full-bleed-teaser-list;

  @include mq($from: large) {
    column-gap: px-to-rem(var(--spacing-4xl));
    row-gap: px-to-rem(var(--spacing-4xl));
  }

  @include mq($from: ultra) {
    column-gap: px-to-rem(104);
    row-gap: px-to-rem(var(--spacing-5xl));
  }
}

@mixin full-bleed-teaser-item-ultra {
  width: 100%;

  @include mq($from: medium) {
    width: calc(50% - px-to-rem(var(--spacing-4xl)) / 2);
  }

  @include mq($from: ultra) {
    width: calc(33.33% - px-to-rem(104) * 2 / 3);
  }
}
