@use "../../../styles/mixins/mixins-layout" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/utilities" as *;

.section {
  &:not(.fullBleed, .noTitle) {
    @include block-layout-sticky-title;
  }

  &.noTitle {
    @include block-layout-section;
  }

  @include generic-block-padding;

  --title-color: var(--text-primary);
  --subtitle-color: var(--text-primary);

  position: relative;

  &.white {
    background-color: var(--background-page);
  }

  &.light {
    background-color: var(--background-light);
  }

  &.dark {
    background-color: var(--background-cta);

    --title-color: var(--text-primary-inverted);
    --subtitle-color: var(--text-secondary-inverted);
  }

  // Collapse top spacing if two non-white
  // sections follow each other
  &:not(.white) + .section:not(.white) {
    padding-block-start: 0;
  }

  .additionalStickyContent {
    --list-flex-direction: column;

    @include mq($from: medium, $to: large) {
      --list-flex-direction: row;
    }

    display: flex;
    flex-direction: column;
    row-gap: px-to-rem(var(--spacing-2xl));
  }

  .title {
    @include title-heading-3;

    color: var(--title-color);
    margin: 0;
  }

  .subtitle {
    @include body-text-2xl;
    @include font-layout-features;

    color: var(--subtitle-color);
    margin: 0;

    @include mq($from: large) {
      margin-block: 0 px-to-rem(var(--section-inside-s));
    }
  }

  // Fullbleed/Vertical variant
  &.fullBleed {
    display: flex;
    flex-direction: column;
    row-gap: px-to-rem(var(--inside-elements-l));

    .subtitle {
      margin-block-end: px-to-rem(var(--inside-elements-s), true);
    }
  }
}
