@use "../../../styles/mixins/mixins-layout" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/mediaqueries" as *;

.section {
  @include block-layout-sticky-title;
  @include generic-block-padding;

  --text-color: var(--text-primary);

  background-color: var(--background-color);
  position: relative;

  &.light {
    background-color: var(--background-light);
  }

  &.dark {
    --background-color: var(--background-cta);
    --text-color: var(--text-primary-inverted);
  }

  &:not(.dark) {
    .line {
      @include generic-block-top-line;
    }
  }

  .title {
    @include title-heading-3;

    color: var(--text-color);
    margin: 0;
  }
}
