@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/utilities/mediaqueries" as *;
@use "../../../styles/utilities/functions" as *;
@use "../../../styles/utilities/utilities" as *;

.skipLink {
  @include visually-hidden-focusable;
  @include button-text;

  @include forced-colors {
    filter: invert(1);
  }

  display: flex;
  padding-block: px-to-rem(var(--spacing-m));
  padding-inline: px-to-rem(var(--spacing-l));
  border-radius: px-to-rem(var(--spacing-s));
  border: px-to-rem(var(--border-width-l)) solid rgb(var(--white));
  background: rgb(var(--black));
  color: rgb(var(--white));
  text-decoration: none;
}
