@use "../../../styles/utilities/functions" as *;
@use "../../../styles/mixins/mixins-typo" as *;
@use "../../../styles/mixins/mixins-shared-styles" as *;
@use "../../../styles/utilities/utilities" as *;
@use "../../../styles/utilities/mediaqueries" as *;

.publicationsList {
  @include publication-list;
}
