# Goal: create a preview deployment of a branch
# Vercel Env: preview
# Runs on: pull request creation and updates
# Build: happens on Vercel (If we would do it via CLI here then we would not get the preview URL posted to the PR)

name: Branch Deployment
permissions:
  actions: write
  attestations: write
  checks: write
  contents: write
  pull-requests: write
  security-events: write
  statuses: write
on: pull_request
jobs:

  # Lint
  lint:
    if: ${{ !startsWith(github.head_ref, 'release-please--branches--main') }}
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint

  # Frontend Test Job
  test-fe:
    if: ${{ !startsWith(github.head_ref, 'release-please--branches--main') }}
    needs: [lint]
    env:
      HOME: /root
    runs-on: blacksmith-4vcpu-ubuntu-2404
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2, 3, 4]
        shardTotal: [4]
    container:
      # if the docker image is changed, also change it in deploy-prod.yml and in Dockerfile.testing
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Test FE
        run: npm run test:fe:native:shard
        env:
          SHARD_INDEX: ${{ matrix.shardIndex }}
          SHARD_TOTAL: ${{ matrix.shardTotal }}
      - name: Upload blob report
        if: ${{ failure() && !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: blob-report-fe-${{ matrix.shardIndex }}
          path: blob-report
          retention-days: 1

  # Backend Test Job
  test-be:
    if: ${{ !startsWith(github.head_ref, 'release-please--branches--main') }}
    needs: [lint]
    runs-on: blacksmith-4vcpu-ubuntu-2404
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2, 3, 4]
        shardTotal: [4]
    container:
      # if the docker image is changed, also change it in deploy-prod.yml and in Dockerfile.testing
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    services:
      mongo:
        image: mongo:8
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: user
          MONGO_INITDB_ROOT_PASSWORD: pass
          MONGO_INITDB_DATABASE: sagw-test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Test BE
        run: npm run test:be:native:shard
        env:
          SHARD_INDEX: ${{ matrix.shardIndex }}
          SHARD_TOTAL: ${{ matrix.shardTotal }}
          PAYLOAD_SECRET: ${{ secrets.PAYLOAD_SECRET }}
          DATABASE_NAME: sagwplaywright-shard-${{ matrix.shardIndex }}
          DATABASE_URI: mongodb://user:pass@mongo:27017/sagwplaywright-shard-${{ matrix.shardIndex }}?authSource=admin
          # DATABASE_NAME: sagwplaywright
          # DATABASE_URI: mongodb://user:pass@mongo:27017/sagwplaywright?authSource=admin
          USER_SUPER_ADMIN_MAIL: ${{ secrets.USER_SUPER_ADMIN_MAIL }}
          USER_SUPER_ADMIN_PASS: ${{ secrets.USER_SUPER_ADMIN_PASS }}
          USER_SAGW_ADMIN_MAIL: ${{ secrets.USER_SAGW_ADMIN_MAIL }}
          USER_SAGW_ADMIN_PASS: ${{ secrets.USER_SAGW_ADMIN_PASS }}
          USER_FG_ADMIN_MAIL: ${{ secrets.USER_FG_ADMIN_MAIL }}
          USER_FG_ADMIN_PASS: ${{ secrets.USER_FG_ADMIN_PASS }}
          USER_MAGAZINE_EDITOR_MAIL: ${{ secrets.USER_MAGAZINE_EDITOR_MAIL }}
          USER_MAGAZINE_EDITOR_PASS: ${{ secrets.USER_MAGAZINE_EDITOR_PASS }}
          USER_TRANSLATOR_MAIL: ${{ secrets.USER_TRANSLATOR_MAIL }}
          USER_TRANSLATOR_PASS: ${{ secrets.USER_TRANSLATOR_PASS }}
          USER_STELLA_MAIL: ${{ secrets.USER_STELLA_MAIL }}
          USER_STELLA_PASS: ${{ secrets.USER_STELLA_PASS }}
          USER_MARTIN_MAIL: ${{ secrets.USER_MARTIN_MAIL }}
          USER_MARTIN_PASS: ${{ secrets.USER_MARTIN_PASS }}
          USER_MARIUS_MAIL: ${{ secrets.USER_MARIUS_MAIL }}
          USER_MARIUS_PASS: ${{ secrets.USER_MARIUS_PASS }}
          USER_YVES_MAIL: ${{ secrets.USER_YVES_MAIL }}
          USER_YVES_PASS: ${{ secrets.USER_YVES_PASS }}
          ZENODO_TOKEN: ${{ secrets.ZENODO_TOKEN }}
          MAIL_SENDER_ADDRESS: ${{ secrets.MAIL_SENDER_ADDRESS }}
          RESEND_KEY: ${{ secrets.RESEND_KEY }}
          NEXT_PUBLIC_ENABLE_AUTOLOGIN: true
          ENV: playwright
      - name: Upload blob report
        if: ${{ failure() && !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: blob-report-be-${{ matrix.shardIndex }}
          path: blob-report
          retention-days: 1

  # Merge Reports Job
  merge-reports:
    if: ${{ failure() && !cancelled() }}
    needs: [test-fe, test-be]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Download blob reports
      uses: actions/download-artifact@v4
      with:
        path: all-blob-reports
        pattern: blob-report-*
        merge-multiple: true
    - name: Merge into HTML Report
      run: npx playwright merge-reports --reporter html,json ./all-blob-reports
    - name: Upload HTML report
      uses: actions/upload-artifact@v4
      with:
        name: html-report--attempt-${{ github.run_attempt }}
        path: playwright-report
        retention-days: 14
